[2019-11-05 00:29] youngmit opened #2 "Asymmetry in pack/unpackSpecialData in Database3"
When packing special data in `Database3`, jagged arrays with `None`s apply the `"nones"` attribute, as well as the `noneLocations` attribute, which is needed for unpacking `None`s in a jagged array. However, when unpacking the same data, if the "nones" attribute is set, it just unpacks it as though it is a non-jagged array with `None`s, and immediately returns the result. This leaves all of the ja

[2019-11-05 16:23] ntouran opened #3 "lattice file disappeared in user tutorial"
I don't know what happened, but in the documentation build, we lost the core map input file: https://terrapower.github.io/armi/user/tutorials/walkthrough_inputs.html

I'll look into it.

[2019-11-05 18:17] youngmit commented on #2
Also, the tests surrounding these functions are not so great. Sprucing those up as well.

[2019-11-05 18:17] ntouran commented on #3
Fixed in [this commit](https://github.com/terrapower/terrapower.github.io/tree/c32e2d4d0a577e442131f28244624e9d90f3c089). Just need to be sure to clean the build folder. I'll also remove the unnecessary gh-pages branch now.

[2019-11-05 18:17] #3 closed

[2019-11-05 19:28] #2 closed

[2019-11-06 00:04] jakehader opened #6 "Implement a GUI for Creating Reactor Blueprints and Geometry Datafiles"
Just as the title says - having a GUI that interacts with the implemented shapes, blueprints, and geometry objects would improve the usability of the ARMI framework for myself and new users.

[2019-11-06 00:10] ntouran commented on #6
We have a GUI for core maps that will come out with the main settings-changing GUI once we finish modularizing it. Having a feature that adjusts pin dimensions in for the blueprints inputs would likely be a valuable feature. I believe there are some tools out there that have good GUIs for such things at the moment, so maybe we can leverage some of that.

This is kind of a long-term wishlist featur

[2019-11-15 00:35] ntouran opened #10 "Make an LWR sample input"
ARMI has been applied mostly to fast-neutron systems, though the data model is agnostic to this. Pin-level input options have been somewhat design-specific and inflexible. Recently, we added some more flexible input formats that should enable direct input of fairly arbitrary pin lattices. To shake this down and demonstrate it, we should make a simple-ish LWR-like input deck.

Ideas (thanks @youngm

[2019-11-15 15:51] ntouran opened #11 "Make plugin for MIT's OpenMC"
We could benefit from a plugin connecting ARMI to MIT's OpenMC code.

The [pincell example shows ](https://docs.openmc.org/en/stable/examples/pincell.html) that the whole case can be defined and run from the Python API so as long as we can get OpenMC and ARMI running on the same python environment it should be easy to get started.

[2019-11-15 19:14] ntouran opened #12 "Make mpi4py an optional requirement"
Building the mpi4py library is challenging on some systems, especially without root access. Since it's really only required for parallel MPI cases, we can make installation easier by making it an optional requirement.

[2019-11-15 23:56] ntouran commented on #10
I made a simple C5G7 input today and got it up and running. Will turn it into a new guided walk-through tutorial next. I did not add in the prescribed cross sections and just put in dummy composition information for now.

[2019-11-16 00:35] ntouran commented on #12
released.

[2019-11-16 00:35] #12 closed

[2019-11-16 01:43] ntouran commented on #10
Ok it's on the master branch now and documented here: https://terrapower.github.io/armi/user/tutorials/walkthrough_lwr_inputs.html

It's maybe overly simple but it's a start.

[2019-11-16 01:43] #10 closed

[2019-11-16 15:06] ntouran opened #14 "No module named pympler"
The memory profiler depends on pympler which is installed by `requirements-testing.txt` but not `requirements.txt`. Thus the baseline requirements.txt is not sufficient.

Workaround: `pip3 install pympler`

Actual fix: Either add pympler to requirements.txt or make the memoryprofiler fail gracefully.

[2019-11-16 15:33] ntouran opened #15 "tox fails when run locally on coveralls"
As part of the testing process, I run `tox` locally after doing some changes. It runs tests three times:

* py36
* py37
* py37 again but this time with coverage

On the third item, it fails with the traceback below. I know it work on Travis but we should get it to also work locally. Also also, maybe just doing py37 with coverage instead of running it twice would be nice, but that's kind of a separ

[2019-11-16 15:42] ntouran commented on #14
Fixed in https://github.com/terrapower/armi/commit/2d90e6b55f5fa7e7ea9c22650536ebc38b51cdb9

[2019-11-16 15:42] #14 closed

[2019-11-18 23:22] youngmit commented on #15
I can fix this. Issue is I shouldn't have put `report` in the `envlist`; should probably just call it explicitly from the travis.yaml

[2019-11-19 15:19] #15 closed

[2019-12-27 17:32] ntouran opened #18 "Issues with running ARMI behind a web service"
If you try running ARMI behind a web service, there are a few issues:
* The `expanduser` line in `context.py` does not work if the user does not have a home directory (e.g. the typical `www-data` utility user). In fact, the `e` exception isn't defined there.
* The `signal` calls in `__init__.py` fail if they're called in threads

[2019-12-27 18:35] youngmit commented on #18
The `expanduser` issue is pretty straightforward; we just need to decide where we want to put stuff in these cases. Perhaps `/tmp/armi-[PID]` or similar?

The `signal` issue is vexing. How are you invoking armi from your web service?

[2020-02-27 17:55] jakehader opened #32 "ARMI case information is double dating"
The case information when printed to the `.stdout` has duplicate date and time entries.

[code]

[2020-02-27 18:09] youngmit commented on #32
Fixed in #31

[2020-02-27 18:09] #32 closed

[2020-03-31 08:01] AI-Pranto opened #47 "Error in reading Geometry File"
During running  ANL-AFCI-177, I get **Included blueprints**  file can't  read **anl-afci-177-coremap.yaml**. In anl-afci-177-blueprints.yaml , I see ` core: ! include anl-afci-177-coreMap.yaml` which I change by omitting `!` this.  But still now, **anl-afci-177-coremap.yaml** file can't execute.

[2020-03-31 14:25] jakehader commented on #47
Hi @AI-Pranto,

The `!` in `!include` should remain in yaml blueprints loading file (https://terrapower.github.io/armi/user/tutorials/walkthrough_inputs.html):

[code]

This `!include anl-afci-177-coreMap.yaml` acts as a reference to the `anl-acfi-177-coreMap.yaml` file. This is beneficial if you want to have multiple blueprints files pointing to the same core map.

Stackoverflow example: https://

[2020-03-31 15:16] AI-Pranto commented on #47
Thanks for your help.

[2020-03-31 15:16] #47 closed

[2020-04-08 16:12] veeshy opened #53 "c5g7 tutorial case errors when plotting"
Working through https://terrapower.github.io/armi/user/tutorials/walkthrough_lwr_inputs.html with no edits to the inputs at the bottom of the page I got the following error. The ANL case worked fine, local tests passed.

[code]

[2020-04-08 16:42] youngmit commented on #53
Thanks for the report. I was able to reproduce this on my end, and there are a couple issues here.
First, the C5G7 doesn't explicitly mark any of the blocks in the model as "fuel". Lots of things in ARMI try to find fuel blocks to do special things, and not having any official "fuel" blocks leads to trouble. We will update the example to fix this.

The other issue is that this error is happening i

[2020-04-08 16:50] veeshy commented on #53
While I would love to contribute one day, I'm scoping for a hex based reactor so I don't mind too much for more geometries (yet!). Thanks for the confirmation.

[2020-04-08 17:35] ntouran commented on #53
Thanks @veeshy, we'll get the tutorial running. Looks like we can improve our testing to flag when this tutorial breaks for next time too.

[2020-04-09 20:36] veeshy opened #55 "How do I get pin locations within a block?"
I'd like the xy locations of pins within a grid defined at the block level. I got to the spatialGrid below using the c5g6 tutorial input:

[code]

I'd expect 17x17=289 locations but I see 1057 in the above output. Also, `len(g.getAllIndices())` returns 1024.

ps: I actually want this on a hex based reactor, just using the LWR input so we have the same input to work with.

[2020-04-09 21:38] ntouran commented on #55
The pin coordinates are stored on the `Component`s which are children of the block. This block has a few children:

[code]

This case treats all the low fuel pins as the same composition but they are specified by input in different locations. These coordinates are stored as the `spatialLocator` on each of these `Composite` objects. So for example:

[code]

Or even more fun:
[code]
should give
![im

[2020-04-09 22:01] ntouran commented on #55
Oh by the way, the grid on the block that you were looking at is kind of infinite so it's not too meaningful to look at. That is admittedly a bit confusing. As pins are added it auto-generates new spatial locators.

[2020-04-09 22:08] veeshy commented on #55
Awesome! Yeah, I started with the `Component` level since that made sense and stopped short at `spatialLocator` because I didn't quite get I could iterate over it. I figured the next logical place would be in `Block` since it had a grid and that's where my question was, makes sense that Components have the useful info.

Thanks for the code snippet too.

[2020-04-09 22:08] #55 closed

[2020-04-09 22:11] ntouran commented on #55
No prob! Thanks for the good questions. Helps a lot to see what isn't clear.

Also also, `b.getNumPins` will count up the number of pins. It does actually skip the guide tubes and the fission chamber in this case because they're not defined by the ARMI framework as "pins", so you'll get 264. You can use `b.getNumComponents(Flags.GUIDE_TUBE)` to get those. Or you can use `b.getNumComponents(None)`

[2020-04-09 23:07] veeshy commented on #55
Ah, cool, I dig all the convenience functions.

Another one similar to this so I'll dump it on this thread, if a pin map was inputted as periodic, how do you reconstruct the full map?

[2020-04-10 17:36] #53 closed

[2020-04-10 18:17] ntouran commented on #55
We use the geometry converters in `armi.reactor.converters` to expand various symmetries, but the one you're talking about is not implemented in there at the moment.

(FYI [we updated the LWR tutorial ](https://terrapower.github.io/armi/user/tutorials/walkthrough_lwr_inputs.html)to incorporate some things from this thread.)

[2020-05-14 19:42] veeshy opened #72 "Missing operators picture in docs"
1.2 operators is missing `armi_objects_2.png` in https://terrapower.github.io/armi/developer/guide.html

[2020-05-14 21:35] ntouran commented on #72
Thanks! That is indeed missing. I have a copy of the image but frankly it's a bit dated and also just a total spaghetti flow chart that probably isn't that useful beyond the list of actions that's listed. I will probably just remove the reference to the image.

[2020-07-04 05:52] jakehader opened #94 "Set Delayed Neutron Fraction on Core from Neutronics Plugin"
#93 introduced a change to the `Core` where the delayed neutron fraction and precursor decay constants could be added to the core with user settings during initialization. It would be better to move this to the neutronics plugin within the `onProcessCoreLoading` plugin hook.

This is a trivial change, but will help minimize neutronic-specific operations directly on the core.

[2020-07-28 23:00] #94 closed

[2020-07-29 17:18] ntouran opened #104 "Make plotting routines mostly traffic in figure objects"
We have some plotting convenience functions that are great but tend to be overparameterized due to the variety of plots people often want. It may make sense to make them return figures or patches and then let the clients handle the customization a bit more.

- [ ] Move `block.plotFlux` to `utils.plotting`
- [ ] have plotting utils return patches or figure objects
- [ ] have clients deal with savin

[2020-08-04 14:24] ntouran opened #112 "Switch to PEP8 naming conventions (snake_case vs. camelCase)?"
I'm wondering if at this point it would be valuable to switch to [PEP8 naming conventions](https://www.python.org/dev/peps/pep-0008/). When the project started in 2009 PEP8 was a thing but we just didn't start with it for some reason. Then we stuck with the "consistency is more important than PEP8 recommendations" thing for a long time. We use the `black` code formatter for whitespace issues, but

[2020-08-04 15:26] youngmit commented on #112
snake_case is definitely better, but the conversion is going to cost us! It would be a pretty big breaking change, especially from code that uses ARMI. So if we do choose to do this, sooner rather than later would be important. We should probably tool this as much as possible. We should still be pretty careful here, as we still have some weird `CONF_` variable names from when we did the Setting mi

[2020-08-04 16:02] onufer commented on #112
I agree with Mitch. I defiantly prefer snake_case in general, but there are concerns about breaking code dependent on ARMI.

I am also a little concerned that variables will take more characters of text. Even right now, i feel a tension between makingDescriptiveVariableNames, and thoseVariableNamesCanSometimesGetTooLong and once black does formatting it is less readable..

[2020-08-04 16:30] ntouran commented on #112
Part of the benefit of snake_case is that it will dissuade of from making ridiculously long names, preferring instead refactors that make such crazy names less likely.

@youngmit  the tool I linked above uses the [Rope](https://github.com/python-rope/rope) refactoring library, probably similar to what you're suggesting.

[2020-08-04 17:23] jakehader commented on #112
@ntouran, to be clear - are you talking about just converting variable names to `snake_case` or would you like to see functions/methods also be converted too? It seems like the convection in PEP8 refers using `snake_case` for functions, methods, and variables.

Example:
[code]

[2020-08-05 00:28] youngmit opened #114 "Make the test reactor reliably use material definitions that ship with ARMI"
There is no specification of the material namespace search order (`materialNamespaceOrder`) in the settings file for the test reactor, upon which lots of unit testing is performed. This leaves the actual state of that reactor sensitive to which plugins are active, potentially using plugin-provided material definitions. We should update the settings to explicitly request `armi.materials` so that th

[2020-08-06 16:56] ntouran commented on #112
I'm talking about attribute, variable, function, and method names (as recommended in PEP8).

[2020-08-10 16:28] ntouran opened #119 "change internal child container from list to locator/child mapping"
### Currently
ArmiObject composite model children are a simple list. Order is usually not important.

### Problem
We need a good way to get certain children by locators, but `obj.childrenByLocator` can get out of date and be wrong and be hard to synchronize

### Proposal
@youngmit suggests making the `childrenByLocator` mapping *the* container, rather than the list. I really like this idea.

For o

[2020-08-10 17:02] ntouran commented on #112
So upon further discussion we have decided at this time that changing everything to `snake_case` is probably not worth the trouble.

* The Python standard library is quite mixed and no one revolts over it
* Our potential users are specialized enough that this convention is unlikely to make or break the choice to use ARMI
* Plugin devs are welcome to use whatever style they want, of course
* PEP8 e

[2020-08-10 17:02] #112 closed

[2020-08-12 22:43] ntouran opened #122 "harmonize physics kernel selection and activation settings"
He have framework-level user settings that can select physics kernels and activate them. They are a bit of a hodgepodge.

Examples:
* `neutronicsKernel` selects which global flux system to use
* `globalFluxActive` turns the global flux system on or off but also can select between Off, `Neutron`, `Neutron and Gamma` modes
* `xsKernel` selects a lattice physics kernel
* `genXS` turns on cross sectio

[2020-08-18 02:21] ntouran opened #129 "Define and uniformly implement a typeSpec filter on composite methods as appropriate"
In #127, @youngmit asked if we should add a Flags/typeSpec filter to the composite method that is being applied as the replacement for the outgoing `getEnrichment` block method. This is a good point and the answer is: most likely.

* Methods on the composite tree that scan over children should offer some consistent and uniform method for filtering the children (e.g. the flags mechanism)

* We need

[2020-08-19 21:28] youngmit commented on #119
the actual representation of the children within a Composite is an implementation detail of the Composite class. if it wants to have a mapping keyed on location for stuff in a grid *and* a list for everything else, so be it! Get children would just need to honor both containers. Core currently does this to support the SFP/CFP.

[2020-08-19 21:32] youngmit opened #132 "Generalize grid GUI to support non-Core grids"
The new grid editor GUI is pretty hard-coded to manipulate the Core grid using Assembly designs. With a little work, it could be made general to support any number of grids.

[2020-08-19 22:04] youngmit opened #133 "Add test coverage to grid GUI"
We whitelisted the grid GUI related code in the coverage reports because it is *completely untested*. That's bad and we feel bad. But also just needed to get the GUI done. Need to circle back around and add some meaningful testing so that it doesn't break all the time.

[2020-08-25 03:35] ntouran commented on #129
Does anyone like the idea of embedding the `exact=True` metadata directly into the Flags? as like a special flag flag `Flags.EXACT`?

[2020-08-25 03:44] onufer commented on #129
Yeah I like that a lot. No longer being slightly uncertain about what the default is for a specific method.

[2020-08-25 17:44] youngmit commented on #129
Exact should not be a flag, but it would make a lot of sense to ship flags, plus exactness, and perhaps even depth semantics into a TypeSpec class of some sort. This would make consistent method signatures easier to maintain, and make it easy to document how filtering works

[2020-09-14 17:21] jakehader opened #150 "Custom configuration data of the grid GUI"
It would be nice to add a feature where the grid GUI can accept a custom, user-defined configuration file to manage some of the settings. The main thing here would be for the ability for a user to adjust the core map color scheme based on assembly names or flags.

[2020-09-23 21:15] jakehader opened #161 "Convert specifyInputs from an interface staticmethod to a plugin hook"
This would be useful to be able to specify which inputs are a part of a plugin, since it's not a strict requirement that all plugins have interfaces defined.

[2020-09-24 16:38] youngmit commented on #161
Hmm... but inputs _are_ case-specific... at which point you should have an Operator/Interfaces to guide the determination of what is "input". If we are going to say that there are new things that a plugin can bring along that are inputs _descriptive of the system itself_, regardless of the type of analysis being performed, then this is perhaps a deeper discussion.

Could you provide some motivatio

[2020-09-25 20:13] jakehader commented on #161
I was thinking of a possible scenario where settings could be used by a plugin directly to configure the reactor state outside of the context of needing an interface. There are already instances where we use a cs to do things or check things about the reactor state during the blueprints initialization (`afterContructionOfAssemblies`, `onProcessCoreLoading`) that have access to the cs, but are outs

[2020-10-02 18:33] youngmit opened #163 "Document Flags"
We have sort of been firing from the hip on what `reactor.Flags` really mean, and how they ought to be used. I think it's time to get a little more formal/precise with their definition. Flags settings from #162 is getting us closer to the vision of Flags-as-description with settings to map Flags to specific behavior. We should codify this in the docs.

[2020-10-02 18:56] jakehader commented on #163
We've had some discussions on this and the intent is that `Flags` can be used to define attributes of a composite, like `DUCT`, `FUEL`, `CLAD`, etc. as a way to differentiate between what the intended use of the composite will be within either the framework and/or plugins.

When it comes to using `Flags` within the plugins, we are _not_ intending for them to be used to describe modeling behavior,

[2020-10-03 06:12] jakehader commented on #6
A GUI for creating and editing the core map was added in #133. This is a step in the right direction! I still think it would be good to be able to create blocks/assemblies from a GUI rather than interacting directly with the YAML file. The core map is much more difficult to make without a GUI, so this is still a wishlist enhancement.

[2020-10-06 21:00] #163 closed

[2020-10-09 23:43] ntouran opened #175 "Asyncio related notimplementederror in Windows with Python 3.8 coming from zmq"
I'm getting some errors during doc building, specifically when sphinx builds the jupyter notebooks, with errors that look like this:

[code]

This looks like an issue related to [this documentation](https://docs.python.org/3/library/asyncio-platforms.html#windows) where this type of thing is just not supported in Windows.

Looks like this is mostly a problem in our dependencies.

[2020-10-09 23:45] ntouran commented on #175
Looks like there's a *very* related issue here: https://github.com/jupyter/nbconvert/issues/1372 with a workaround we can try.

[2020-10-15 00:42] dlangewisch opened #180 "ctrl+c bug when ARMI is used interactively"
When ARMI is used interactively in an iPython session and execution is terminated with ctrl-c, the temporary directory (`FAST_PATH`) gets deleted. If one then attempts to create a new database with write permissions from the same iPython session, an `OSError` occurs because it attempts to create the database in a non-existent directory.

Below is a simple script to reproduce the issue. It loads a

[2020-10-15 15:03] youngmit commented on #175
Is this fixed in #174 ?

[2020-10-15 15:05] ntouran commented on #175
oh! yes it is fixed there. Thanks.

[2020-10-15 15:05] #175 closed

[2020-10-15 15:14] youngmit opened #181 "Support reading from some databases with different Flags definitions"
#22 fixed issues related to flags serialization to the database, including some checks to make sure that the app that's reading the database has the same flags as contained in the file. This is an easy check to make sure that there arent any transcription errors from `int` to flags. However, it is a bit pedantic and does not attempt to convert between flags, which is possible and would make openin

[2020-10-15 15:34] ntouran commented on #180
Thanks, great bug. This happens because of a confluence of things:
* we register a Ctrl-C signal handler in the root `__init__.py` that cleans up temporary files. When you ctrl-c, the `FAST_PATH` directory gets deleted
* But the `FAST_PATH` variable lives on, now pointing to an empty directory!
* When you open a new DB in `w` mode, it *always* makes itself in the `FAST_PATH`.
* But since that dir

[2020-10-18 19:07] perceptualrobots commented on #175
How do I get this fix?

Do I need to "pip install" a particular version of a particular package?

[2020-10-19 15:10] ntouran commented on #175
In your own project, just run code similar to [what's shown here](https://github.com/jupyter/nbconvert/issues/1372#issuecomment-691596163) during initialization.

[2020-10-19 22:40] ntouran commented on #180
The proposed PR works as you'd expect given your test code, I believe. Will finish review and merge soon.

[2020-10-20 15:29] #180 closed

[2020-10-20 16:27] youngmit opened #191 "Add more forensic information to the Database metadata"
The Database3 class stores some metadata in the HDF5 attributes of the file. Things like user, date, framework version, etc are included, but there is some lacking information for getting a full picture of what the deal was with a given run. At the very least, we need to add Application name and version. Anything else?

[2020-10-23 18:01] ntouran commented on #114
We should be able to update the test input blueprints to point to `armi.materials.HT9` explicitly to override any app's namespace order.

[2020-10-29 19:18] ntouran commented on #114
Actually we aren't quite ready to do this because some external app tests require the app's "fancier" versions of some materials (with more material properties, etc.). The feature in #192 gives app tests the option to load app-specific test inputs that can be more specific.

[2020-10-29 22:07] #114 closed

[2020-11-06 21:13] #181 closed

[2020-11-09 23:44] youngmit opened #203 "Make psutil dependency optional"
It is only used in the memory profiler, and has all sorts of installation issues on MacOS.

Specifically, this is the issue: https://github.com/giampaolo/psutil/issues/1632

[2020-11-10 16:10] ntouran opened #206 "Remove preceding space in gallery examples"
[The gallery](https://terrapower.github.io/armi/gallery/framework/run_chartOfNuclides.html#sphx-glr-gallery-framework-run-chartofnuclides-py) has an extra space before every line which makes them hard to paste into non-ipython terminals.

![image](https://user-images.githubusercontent.com/53948397/98699344-e5267200-232b-11eb-8fda-30f2bdb4133b.png)

Find out why they're there and eliminate them.

H

[2020-11-10 21:59] #203 closed

[2020-11-10 22:31] #206 closed

[2020-11-10 22:32] ntouran commented on #206
turning off line numbers fixes this.

[2020-11-11 03:32] onufer opened #212 "Geom type testing on cores is not working correctly"
In the Core class, we typically have code like:

`if self.geomType == geometry.GeomType.HEX:`

This does not work correctly. It is comparing string "hex" to enum HEX, which are not equivalent. Here is a failing unit test in reactors.py:

[code]
The issue is likely that in grid.blueprints we set:

`spatialGrid.geomType = self.geom`

But self.geom is a string. Instead, it should likely be getting th

[2020-11-11 03:33] onufer commented on #212
@youngmit please provide guidance

[2020-11-11 17:26] youngmit commented on #212
This is interesting... how did you bump into this, because I'm surprised that we haven't run afoul of this yet. Storing the grid `geomType` as a string under the hood makes sense, since we use that for serialization. There are a couple of options that I can think of:
 - make the string representation of the grid geom type private and convert to the enum in a `geomType` property
 - same as above, b

[2020-11-11 17:30] onufer commented on #212
I am also surprised, but the bug was introduced in March, so maybe people haven't exercised it enough.

I ran into it with the a new interface I am making. I expect a hex reactor, and I formalize this and have it raise an error if it is not a hex reactor. But then, my unit tests fail since the comparison doesn't work (even though the test reactor is a hex reactor).

Yeah, it sound like you are the

[2020-11-16 18:02] sombrereau opened #218 "Read FFTF project with armi-mac"
Hi ARMI team,

I download the master branch of the armi for the ANS ARMI Workshop and failed to load the FFTF benchmark

Here is my traceback error:
[code]

[2020-11-16 21:32] ntouran commented on #218
Fascinating, thanks for the report!! [That input file](https://github.com/terrapower/fftf-isothermal-model/blob/master/FFTF.yaml) only has 24 lines so I wonder how it counted 68 lines.

Anyway the real error is hidden here because `armi.settings.settingsIO.SettingsReader.readFromStream` catches an exception and makes an assumption that it must be XML format if any error happened. This is obviously

[2020-12-08 18:08] veeshy opened #223 "yaml anchors in list input for blueprint"
I want to repeat an anchored list to build up a larger pattern, particularly to build up some axial detail. Is something like this possible (now or with some work) in the input?

[code]

Or perhaps an alt question here is, most efficient way to model axial details? I think I'm looking for an axial lattice now that I think about it.

An example: a fuel pellet needing 3 axial layers to get sufficien

[2020-12-08 18:55] youngmit commented on #223
The way that we typically approach repeated axial meshes is by linking the entire axial mesh. So in your case, something like:
[code]

However, this doesnt really give you the flexibility to mix and match different zone meshes. I'm not sure if YAML has the ability to cobble together a sequence from a handful of anchors. What you've tried above is the best I have managed, and that is making a list

[2020-12-08 21:16] youngmit commented on #223
I also think it might be worth addressing your specific needs for how you are handling the fuel pellet that you mentioned. Given the brief description, I'm not sure exactly what you are trying to accomplish, but I'm assuming you have an assembly with an active fuel region and some plenum/structure above and below, where you want to mesh each axial region differently. In this case you can probably

[2020-12-08 21:29] onufer commented on #223
Also, if you fuel components are more of 3D structure  (EG, torus, sphere, or cone) rather than a 2D structure extended along some axial range (eg cylinder, or extruded triangle/hexagon), we should probably discuss further to find the best approach.

[2020-12-08 22:12] veeshy commented on #223
I don't think I got my idea across, sorry! I'll try again.

My unit cell I wish to repeat in the axial direction looks something like:
[code]

If I had 10 of these axially to represent one fuel stack, I would input 30 blocks/heights. Then If I had 10 fuel stacks, I would need to to have 300 blocks/heights. My case also happens to have some more axial detail between each of the fuel stacks.

interp

[2020-12-09 00:30] onufer commented on #223
Oh, I see. I think this is what you want, but unfortunately, it doesn't look like its happening within YAML:
https://github.com/yaml/yaml/issues/35

Fundamentally, it sounds like your model has many, many axial regions, so your input will likely need to have many. I would recommend programmatically write your input file.  I think the assembly portion could probably be in a separate file to not bog

[2020-12-09 01:03] veeshy commented on #218
FWIW, this works on my Mac, OS X 10.15.6 (19G2021)

Largely clean env with a few outliers, perhaps most imp is running Python 3.7.6, armi 0.1.5
[mypipinstalled.txt](https://github.com/terrapower/armi/files/5662865/mypipinstalled.txt)

[2020-12-09 01:10] onufer commented on #223
Here is a little detail about how you could have the assemblies be a separate input file. This type of input for your blueprints file should be valid:

[code]

So at least your long assembly input is separate.

If you really NEED the ability to have a repeated axial structure we could discuss it in a little more detail to develop a path forward.

[2020-12-09 02:27] partofthething commented on #218
Thanks for the info @veeshy!

[2020-12-09 03:54] ntouran commented on #223
A few other options here:

* You could  define your own parameterized component that represents the multi-layered fuel unit cell and then load blocks full of that on the coarser mesh. This isn't ideal because you'd have to unpack the various design-specific parameters when you interpreted them on the way into various physics codes

* Make a nested block of blocks and repeat that. This isn't possib

[2020-12-09 05:59] ntouran opened #224 "Create ARMI inputs for Benchmark"
In #223 we discussed how to model something similar to the MHTGR-350 described in [this benchmark document](https://art.inl.gov/NGNP/Water%20Ingress%20Assessment%20Review%20Material/INL%20Published%20Material/Preliminary%20Prismatic%20Coupled%20Neutronics%20Thermal%20Fluids%20Transient%20Benchmark%20of%20the%20MHTGR-350%20MW%20Core%20Design%2012-06-10.pdf). It would be nice to start building input

[2020-12-14 16:41] veeshy commented on #223
I'm interested in trying to help this happen from the input side but in the short run I'll likely script a solution up

Thanks for the discussion all.

[2020-12-15 20:58] youngmit commented on #223
No problem! If you want to try to implement something new, feel free to make a new issue with what your proposed input would look like, and we can try to make something work. For now i think your plan to generate blueprints programmatically is a good one.

Another option would be to eschew the blueprints (or sections of them anyway) and make a reactor model directly in code. This is not a super we

[2020-12-15 21:02] ntouran commented on #223
I'll note that there is at least some form of an example of this option in the [reaction rate gallery example. ](https://terrapower.github.io/armi/gallery/framework/run_computeReactionRates.html#sphx-glr-gallery-framework-run-computereactionrates-py)

[2020-12-15 21:07] ntouran opened #225 "Make example showing how to make blueprints objects in a script"
To potentially help with #223, we should make a new example (in the gallery? in blueprints docs?) that shows how to build reactor inputs from a script by using Blueprints objects. This is likely a better option than writing out yaml code directly for script-generated ARMI inputs.

For example, let's make a script that builds a few basic reactor parts and then either:
* Generates the input files
*

[2020-12-15 23:13] veeshy commented on #223
Ohh nice ideas!

[2020-12-17 00:09] #225 closed

[2020-12-17 00:16] ntouran commented on #225
@veeshy this is [live now online here.](https://terrapower.github.io/armi/gallery/framework/run_programmaticReactorDefinition.html#sphx-glr-gallery-framework-run-programmaticreactordefinition-py). hopefully it helps.

[2020-12-17 01:45] veeshy commented on #225
Yup this looks great, thanks for the example!

[2020-12-18 17:25] drewejohnson commented on #224
Related to the TRISO fuel, is the current / planned support for a fixed structure reflecting the standard five-layer TRISO (fuel, buffer, inner pyrolytic carbon, SiC, outer pyrolytic carbon- https://en.wikipedia.org/wiki/Nuclear_fuel#TRISO_fuel) or a generalized structure?

[2020-12-18 17:44] onufer commented on #224
I am not certain what the plan is, but thought I would chime in and mention there is a Sphere  component class defined here:
https://github.com/terrapower/armi/blob/master/armi/reactor/components/volumetricShapes.py

It has ID/OD/multiplicity, so it might meet some of you needs. It could be a good starting place to begin discussion

[2020-12-18 17:52] ntouran opened #228 "Make standard way to represent TRISO fuel"
[TRISO fuel ](https://en.wikipedia.org/wiki/Nuclear_fuel#TRISO_fuel) is a common need and it'd be nice if there were an obvious straightforward way to define it and use it in reactor models (e.g. #224). Let's try to draft requirements and then talk about implementing.

### Requirements

####  Faithfully represent standard five-layer [TRISO fuel ](https://en.wikipedia.org/wiki/Nuclear_fuel#TRISO_fu

[2020-12-18 17:53] ntouran commented on #224
Well it's a known need at least but we don't have it quite scheduled. Let me make another issue to track that explicitly because it's so fundamental. I'll tag you and try to get you to help define requirements.  (see #228)

[2020-12-18 17:55] ntouran commented on #228
@drewejohnson can you help us get more specific about the requirements of this? What specific parameters do you need to be able to specify about the fuel blocks? What information will you need as you do the modeling? How detailed will you want temperature distributions (or other state) within the fuel, etc?

[2020-12-18 19:04] drewejohnson commented on #228
Thanks for the fast response! Some thoughts off the top of my head

Specifying the particle loading as a packing fraction

Some option to indicate to the neutronic solver that the particles should be explicitly modeled or homogenized. Not saying ARMI should handle explicitly modeling the particles, but would be a very useful bit of data for post-processing and modeling comparisons

For state data,

[2020-12-19 00:06] ntouran commented on #228
Ok great, thanks. One starting point as @onufer was reminding me is to use volumetric components to make a unit cell that defines the spherical shell volumes and a cubic graphite unit cell with a hole in it. Mocking it up (you'd need to bring in the materials and add the `CubeWithSphericalHole` component in a plugin, and add temperatures and whatnot to make this a fully valid input), I am thinking

[2021-01-04 23:16] scottyak commented on #133
Hi, I am interested in contributing. Is help still needed here?

A few clarifying questions from me:
- armi/utils/gridEditor.py is the code to be tested, right?
- Do you already have a testing framework in mind, so should I propose that? ([autopilot](https://wiki.ubuntu.com/Autopilot) seems like a suitable candidate, since it supposedly simulates mouse clicks, works with Gtk, and tests are written

[2021-01-05 01:01] youngmit commented on #133
Yes, we could still use some help on this! I originally wrote the grid editor code, but as mentioned above, I don't have any experience testing GUIs, but know enough to know that I would have to do some head-scratching before I could do it "right". If you are familiar with any tools for that kind of thing, we are open to suggestions. Looks like autopilot uses DBus, so probably only supports linux-

[2021-01-05 06:32] scottyak commented on #133
Thanks for the quick reply! I don't have any experience with desktop UI testing either (though I have worked with projects that have webdriver tests). I was looking for an interesting open source project to work on, this project sounds pretty cool, and I'm hoping to learn more about this project over time, starting here!

I'll admit I hadn't actually spent too much time looking into Autopilot myse

[2021-01-05 18:32] youngmit commented on #133
That would definitely be a good place to start! We have used ARMI on windows and Linux, but yeah we mostly are one Windows; especially when we are tweaking inputs/using the GUI. That doesn't necessarily mean that the tests _have_ to function on windows, since we have linux CI anyways, but they can't fail spectacularly in Windows. My guess is any Python-centric GUI test tools will be platform indep

[2021-01-05 21:13] scottyak commented on #133
Unfortunately PyAutoGUI isn't going to support headless mode any time soon: https://stackoverflow.com/a/42882644

But good news, I learned that wxPython itself comes with ways to write tests:
- Unit tests can be written like [this](https://github.com/wxWidgets/Phoenix/blob/d42aa53f4924c43372a72d0f751dfa266f0f19e7/unittests/test_grid.py#L334).
- UI tests can be driven by [wx.UIActionSimulator()](ht

[2021-01-07 21:49] youngmit commented on #133
You've been assigned! Headless or no, the main hope is that the tests can run on Travis. Not absolutely necessary, but a huge plus. I think starting with the built-in wxPython facilities makes a lot of sense. Thanks for signing on :+1:

[2021-01-13 18:24] veeshy opened #233 "Limit on number of blocks in an assembly?"
I'm trying to programmatically create an assembly with many blocks and I am getting a list-index error (full trace below)

I'm using the example file from https://terrapower.github.io/armi/gallery/framework/run_programmaticReactorDefinition.html#sphx-glr-gallery-framework-run-programmaticreactordefinition-py but made it so the fueled region has 67 layers (66 layers works though..), my modified scr

[2021-01-13 18:32] youngmit commented on #233
Yeah, i think this goes back to some lagacy block/assembly naming conventions that are a little too integral to the rest of the system.  Really what's happening here is it is just trying to whip up a name for the blocks on the fly, which isn't really necessary. This would go away with not using blueprints (you get to name your blocks however you wish), or with a more permissive naming scheme. Prob

[2021-01-16 00:44] sombrereau opened #237 "Add SHEM-based neutron energy group structures"
When using DRAGON to generate multigroup cross sections, one should use neutron energy group structures that snap to the SHEM361 energy structure because that's the "fine group structure" for open source nuclear data for DRAGON.

- There should be an energy spectrum that's analogous the ARMI33, but snapped to the SHEM361 rather than the ANL2081
- Having the SHEM361 structure will be good for model

[2021-01-18 22:46] ntouran commented on #233
Yes the axial limit comes from some legacy design choices related to a particular naming scheme we used early on with DIF3D. There is no good reason to retain this limit in ARMI in general. Let me try to make the naming a bit more flexible and see how far I get.

[2021-01-19 00:35] ntouran commented on #233
Good news, we can relax this limit in the framework without any consequences to the framework unit tests. Some downstream plugins will need updating so this is kind of a breaking change. But we can deal with it in the name of generality. The constraint was pretty constraining!

[2021-01-19 15:55] scottyak commented on #133
(Copying from a comment in PR#231)

Now that we have set up the scaffolding for local UI testing, I believe the next step is getting the test to pass in the Travis environment. This is not easy to do, because there isn't a display that allows me to see what the test is doing to the UI.

I think it's worth investing in a less frustrating debugging experience first. I propose to video capture the vi

[2021-01-19 18:52] veeshy commented on #233
Awesome, thanks for the quick fix!

[2021-01-19 18:53] ntouran commented on #233
np. will get it merged asap

[2021-01-19 21:23] ntouran commented on #233
Actually I have to change the location labels as well as @youngmit  pointed out so I need another round of work on this.

[2021-01-19 21:42] veeshy commented on #233
Not blocking on my end

[2021-01-19 22:07] youngmit commented on #133
I think you have some good ideas here! If you are still willing to keep pushing on this, it would be nice to get this stuff going under travis, for sure. Regarding S3, i think this could be an interesting thing to try, but I'm not sure if we will be able to stand up an S3 instance from TerraPower's side; the legal aspects would take some head scratching. However, I think linking travis to a person

[2021-01-19 23:46] scottyak commented on #133
A hacky workaround I just thought of that doesn't involve AWS would be to base64 encode the video, print it to the logs, and I can download the raw logs and decode it. If Travis doesn't truncate the logs, that might just work...

[2021-01-20 18:28] youngmit commented on #133
haha, madness... worth a try!

[2021-01-20 19:41] veeshy opened #242 "How to override default settings in a plugin?"
I'd like to change the default `CONF_MATERIAL_NAMESPACE_ORDER` in my plugin to be `["usnc.materials", "armi.materials"]`, but I'm not sure where to do that. Trying to (re)add that entry in my plugin settings with `defineSettings()` gives an error that I can't redefine the name.

[2021-01-20 20:03] sombrereau commented on #242
I'm assuming you guys have a USNC specific armi app.  Some where before you configure (e.g. armi.configure(app=UsncApp()?)), you can configure your materials name space order like this:
[code]

[2021-01-20 20:13] veeshy commented on #242
Ah, not a setting override for this, thanks for that snippet, works as desired

[2021-01-20 20:13] #242 closed

[2021-01-20 20:14] youngmit commented on #242
yeah, material namespace order is not really a proper `Setting`, since there's a little more magic to how material classes are discovered/imported. Sorry for the confusion!

[2021-01-25 19:07] #233 closed

[2021-01-26 00:48] ntouran opened #243 "handle breaking string treatment in h5py 3.0 lib"
In cf74496463c5 we pinned the h5py requirement at `<3.0`. We should update the code to deal with the breaking change going forward and unpin this. Supporting info:

* Breaking change [is described here](https://docs.h5py.org/en/stable/whatsnew/3.0.html#breaking-changes-deprecations)
* H5py motivation behind the change is here: https://github.com/h5py/h5py/issues/1338

notably, h5py does not have w

[2021-02-02 17:07] drewejohnson opened #245 "How to circumvent strict thermal expansion calculation"
As far as I can tell, any new materials added outside of ARMI must have thermal expansion data available to the rest of the application. I found this by making a test material, following the instructions in https://terrapower.github.io/armi/tutorials/making_your_first_app.html#adding-a-new-material on how to add this to the lookup path, and attempted to run the FFTF model. I keep hitting this sect

[2021-02-02 17:18] drewejohnson commented on #245
I guess a workaround would be to add
[code]
to the app `__main__.py` file but that doesn't feel ideal

[2021-02-02 17:21] sombrereau commented on #245
would it be possible to see the error message and the if possible the material class definition?

[2021-02-02 17:28] youngmit commented on #245
I think this happens when your Thot and Tinput temperatures are different in your input/component parameters. The idea with Thot and Tinput is to be able to specify dimensions as some as-built dimensions near room temperature Tinput, and let ARMI thermally expand the dimensions to a rough at-power temperature (Thot). If Thot and Tinput are different, the corresponding material needs to have expans

[2021-02-03 16:40] drewejohnson commented on #245
Setting `Thot` and `Tinput` to be identical works. Thanks!

[2021-02-03 16:40] #245 closed

[2021-02-03 17:36] youngmit commented on #243
I've made some progress on this. Most of this is in the database implementation regarding reading input files. Due to mutual dependecy including updates to the scipy and numpy dependencies. The numpy update is leading to minor differences in some unit test values when comparing files. To address this, I've updated the file comparison utility to have it try parsing values as floats and compare with

[2021-02-04 00:59] youngmit opened #246 "Remove jagged numpy arrays"
The [latest release of NumPy]( https://github.com/numpy/numpy/releases/tag/v1.24.0) has deprecated the jagged array treatment that we are using in the database when writing parameter data.

https://github.com/terrapower/armi/blob/36fe1bced3b817d6d76e66cf99dd355219993e63/armi/bookkeeping/db/database3.py#L841-L887

Until now, we have detected jagged data (and some other strange cases) by converting

[2021-02-05 23:59] #243 closed

[2021-02-18 22:04] drewejohnson opened #251 "HTGR pin lattice not well mapped during vis-file"
I'm attempting to model an HTGR minicore and having a few issues / sticking points. The core is a simple 2-ring hex grid with a prismatic-like pin lattice
**Core**
![core-map](https://user-images.githubusercontent.com/19477741/108424956-ae93a980-71ee-11eb-8a9a-a48473b1a106.png)
**Pin lattice**
![pin-lattice](https://user-images.githubusercontent.com/19477741/108424957-ae93a980-71ee-11eb-890d-4c044

[2021-02-18 22:17] drewejohnson opened #252 "Finding hexagonal pin pitch for wire-less assemblies"
(Came up working on a custom plugin for the HTGR model in #251 but felt it merited a different discussion)

`HexBlock`s have a `getPinPitch` method which was my first guess for finding the pin pitch for a hexagonal pin lattice. But the [docs](https://terrapower.github.io/armi/.apidocs/armi.reactor.blocks.html#armi.reactor.blocks.HexBlock.getPinPitch) indicate that the pin pitch is defined by, and

[2021-02-18 22:41] onufer commented on #251
That is also not what I would expect from the vtu file...

Hmmm.... yes the assemblies appear to be in the right place as you say:

[code]

Its possible you might need a minus sign in front of the first line:

[code]
By I don't know why it would only effect the vtu... I'll try to look into it more later...

[2021-02-18 22:56] onufer commented on #251
I added the minus sign and it looks like I have slightly different art work than you....
![image](https://user-images.githubusercontent.com/50242044/108432266-f4ee0600-71f8-11eb-9bb1-710558141998.png)

I might get someone more familiar with grids to take a look.

[2021-02-19 01:19] ntouran commented on #252
Excellent question. Yes the `getPinPitch` has an overly design-specific implementation and we'd like to support something more genetic.

**Philosophy Aside:** We have been slowly moving design-dependent inferences like that out of the composite tree model and into functions that are more appropriately filed. So like we just moved `b.isDepletable` to the physics/neutronics folder and changed it to

[2021-02-19 01:54] ntouran commented on #251
Fascinating! Thanks for the report. Yeah I just am doing some sanity checks with a simple settings file:

[code]
![image](https://user-images.githubusercontent.com/53948397/108444360-54efa700-720f-11eb-8b37-0e2f2ae8b8ee.png)

Same with blocks as the plotter. And from what you say sounds like components too. So the grid at least is represented in ARMI ok, so it seems, as you both already confirmed

[2021-02-19 03:13] ntouran commented on #251
Ah yes I remember this issue now. So this is related to the fact that block-level pin subassembly grids not getting stored correctly in the database3 hdf5 database. So everything is all good and well during the initial run, but upon loading from a database (as vis-file does), some of the geometric details are lost. This should actually produce a RuntimeError saying that it's not yet implemented si

[2021-02-19 16:00] drewejohnson commented on #252
Thanks for the response.

sounds like a fantastic solution!

Using the files from #251, the blocks do have a `spatialGrid` defined but the pitch is set to 1. If this pitch could be set through the grids section, one, _in theory_, could use `b.spatialGrid.pitch` over `b.getPinPitch`. Or `b.getPinPitch` could rely on the spatial grid first before checking for wires and cladding. Kind of spit balling

[2021-02-19 16:09] drewejohnson commented on #251
@onufer @ntouran thanks for digging in to this so soon. I'm glad to see it's as baffling as it felt to me 😅

Thankfully, as you've both pointed out, it looks like the internal representation of the blocks and their pin lattices is maintained when reading from the yaml file. This means that any plugins should still be able to faithfully model the problem and either wait to use `armi vis-file` or ad

[2021-02-19 16:43] onufer commented on #251
Alright @drewejohnson, here is the work around. Before you let you of your reactor instance, run something like this:

[code]
The file will be named: `myReactor_blk_000000.vtu` (assuming the reactor cycle/node are 0,0)

Its actually a lot faster than the post-process call.

![image](https://user-images.githubusercontent.com/50242044/108533397-c66e3a80-728d-11eb-8904-d5ea64d5d46d.png)

Leaving this

[2021-02-19 18:21] ntouran commented on #252
Perhaps undocumented, but hex grids defined in blueprints default to a pitch of 1.0 but will take the `x` dimension if it is defined. ([code here](https://github.com/terrapower/armi/blob/1fd21f8236763f43c3bc25b866122aa9789486bc/armi/reactor/blueprints/gridBlueprint.py#L262)).

So if you change your grid definition to say:

[code]

Then the block grid will have a pitch of 2.5 cm.

[code]

And you c

[2021-02-19 22:25] drewejohnson commented on #252
Oh neat find! Thanks for pointing that out. If that makes our work easier I might rely on that with the understanding it could get removed at a moment's notice

[2021-02-19 22:26] drewejohnson commented on #251
Excellent! That's working on my end too

[2021-02-22 18:50] ntouran commented on #251
I replicated the issue by adjusting one of the unit tests in https://github.com/ntouran/armi/commit/2f6f9e2fbd97d3944bbc41d8789f740b39ed9edd [in this branch ](https://github.com/ntouran/armi/tree/grid-db-251). We'll work off this branch to find and implement the fix.

[2021-02-23 01:42] drewejohnson opened #254 "Non-grid components have multiplicity of zero"
Using the inputs from #251, even if I force the multiplicity to be one with
[code]
the duct still has no multiplicity
[code]
per https://github.com/terrapower/armi/blob/9e7c2984eae29ad0bb9752f9769cc17a7d12fec0/armi/reactor/components/basicShapes.py#L133-L138

This leads to problems when ARMI is computing volume fractions and can produce divide by zero errors in
https://github.com/terrapower/armi/b

[2021-02-23 03:42] ntouran commented on #254
Confirmed. I have a test and a fix coming momentarily. Thanks for the report.

[2021-02-23 16:28] #254 closed

[2021-02-23 17:46] drewejohnson commented on #254
Thanks for jumping on a fix so fast. Looks like it's working well on my end 🚀

[2021-02-23 23:08] youngmit commented on #251
@drewejohnson #256 should fix your issue. Mind pulling that branch and trying it out with your model to see if it fixes the issue? Thanks!

[2021-02-23 23:40] #251 closed

[2021-02-24 00:04] drewejohnson commented on #251
That did the trick! Thanks everyone for digging in and fixing this!

[2021-02-24 18:19] drewejohnson opened #257 "python segfaults unless h5py is imported with armi"
In the process of upgrading ARMI (thanks to all your fantastic PRs 😁) I found myself in a very strange predicament. This doesn't seem to impact any CLI calls like `armi run` which is great. Probably because `h5py` gets picked up when interacting with database files. But I felt like elevating this would hopefully help other people

Using Python 3.7.10 installed in a fresh conda environment, I keep

[2021-02-24 18:26] youngmit commented on #257
Thanks for the report! I've actually been looking into this myself. The conftest import was there because i knew it was causing issues with out tests, and i sort of suspected pytest, but turns out it was causing issues everywhere, and on windows it's hard to tell unless you look at `%errorlevel%`.

In my previous explorations into this, I've turned up a handful of other GH issues and the like in o

[2021-02-24 18:43] youngmit commented on #257
This was the most relevant thing that I found: https://github.com/stack-of-tasks/eigenpy/pull/58 I don't have a debug version of the python interpreter, so hard to investigate precisely. Perhaps i should take the time to build one...

[2021-02-24 19:00] youngmit commented on #257
You might be onto something with the `atexit.retister()` call... It does do some GC stuff related to database things, where it imports the requisite modules __inside__ the registered function. It could be that the state of the interpreter when the registered atexit functions are called makes it unsafe to do certain imports....

[2021-02-24 19:16] drewejohnson commented on #257
Thanks for the follow up @youngmit! And also glad(-ish) to see this is as perplexing as I felt 😅

Like you pointed out, dropping `import h5py` into a module `__init__.py` _just works_ but yeah doesn't feel too satisfying.

FWIW, I've seen `atexit`s in the wild, like in [`pytables`](https://github.com/PyTables/PyTables/blob/7b8633d35b703e608701f8527aad2a2ffa4c9979/tables/file.py#L2785-L2787). They

[2021-02-24 19:32] youngmit commented on #257
Honestly, looking at the `atexit` function, I'm not terribly surprised that there is an issue with performing an import of an extension module (in this case, `h5py` via `Database3`) in the `atexit` context. Especially in the context of issues like [this one](https://github.com/numpy/numpy/issues/11925), which itself references:
 - https://www.python.org/dev/peps/pep-0489/
 - https://www.python.org

[2021-02-24 20:52] youngmit commented on #257
It's actually pretty encouraging to see someone else doing this kind of stuff with HDF5 files; makes me feel a little less crazy. Perhaps we should consider their approach of registering opened h5 files explicitly, so that we don't need to go picking through the trash.

[2021-02-25 00:47] #257 closed

[2021-02-25 01:03] drewejohnson commented on #257
No more segfaults 😀 thanks!

[2021-02-25 21:38] ntouran opened #259 "split out nucDirectory and nuclearDataIO as two separate repositories"
The ARMI nuclide directory and nuclearDataIO subpackages are relatively generic. The latter depends on the former, but not much else in the armi ecosystem, though the ARMI ecosystem uses them both heavily. I propose we split them out as two new repositories and add them as dependencies for the armi framework. This may make it easier for other people to use the nuclide definitions as well as the hi

[2021-03-01 20:59] drewejohnson opened #262 "Modeling ex-core structures: RPV, shielding, etc."
Wanted to start a discussion / propose a new feature: ex-core structures in ARMI

The base system I'd like to model is one or more concentric right cylinders defining ex-core structures like core barrel, reactor pressure vessel (RPV) and shielding. I had a thought of adding some features to the blueprints file, like a block that doesn't make it's way into the core, but still utilizes material reso

[2021-03-01 22:03] youngmit commented on #262
This response got a little longer than I originally thought, so TL;DR:

Glad to start a discussion about how this could be done in earnest! My main input from reading through the above is that we should try to think through what the reactor model should like like in terms of the ARMI Composite tree before we attempt to tackle the blueprints side of things. For some of these ex-core structures, i w

[2021-03-03 17:49] drewejohnson commented on #262
@youngmit thank you for the detailed explanation. I do appreciate getting a look at the design and inheritance model 👍

Definitely agree

I wonder if an extra ring of some homogenized reflector + RPV might be a good workaround / substitute. Then it's still a regular structure. But the homogenzation would have to be block specific since the fraction of reflector + rpv + void varies by block... yike

[2021-03-03 19:04] youngmit commented on #262
You should see how we model molten salt reactors :) This essentially becomes a mesh overlay problem, which is super doable, but does erode some of the value-add of ARMI, since it is no longer possible to, say, thermally expand components. You could do that on the higher-level meshes that you are shoehorning into the ARMI model and re-map everything, but its definitely less nice :/ Still, having a

[2021-03-03 19:31] youngmit commented on #262
Regarding custom reactor model construction/initialization, I had in the past proposed the following plugin API:

[code]

The direct motivation for this API was to make a custom reactor initializer that did some mesh overlay work to handle weirdly-shaped Blocks/Components (eerily similar to your fixed reflector situation). The intention was for this to also serve as a proving ground for more flexi

[2021-03-05 23:40] drewejohnson opened #263 "Add advice on adding additional materials"
Working through the [tutorial](https://terrapower.github.io/armi/tutorials/making_your_first_app.html#adding-a-new-material) and glancing at some of the ARMI codebase, I find myself wondering what helper methods should be used or called.

Here are some of the questions I've found

1. When, if ever, should `Material.clearCache` be used? https://github.com/terrapower/armi/blob/981459ca45cc3600c95c17

[2021-03-08 05:35] jakehader commented on #263
Hey @drewejohnson, I am not sure if I can answer your questions but take a look at https://github.com/terrapower/armi/blob/981459ca45cc3600c95c17db2dc14a698511ea09/armi/materials/uraniumOxide.py#L42 to see if you can understand the use case for a `FuelMaterial`.

Also, see the `clearCache` implementation within `composite.py` and `component.py`.

When `clearCache` is called it sets an object's vol

[2021-03-10 22:11] drewejohnson commented on #262
Thanks for the detailed response @youngmit. If you're comfortable pushing a branch of some level of usability (WIP or stable but not accepted) I could take a swing at using that hook. It might be a good way to drop in some shield / rpv-like classes

[2021-03-10 22:30] drewejohnson commented on #263
@jakehader thanks for the response. I think the cache makes sense. I also found https://github.com/terrapower/armi/blob/5a2ca101ef9fb940bf7c93ce58307a0374cb115d/armi/reactor/blocks.py#L659 where the area is computed and set onto the cache.

In a similar situation, would I want to alter `self.parent`? Looking at some of the enrichment options I see `Material.applyInputParams` modifying `Material.pa

[2021-03-15 23:12] ntouran commented on #263
Sorry for delay. So yeah there's some inconsistency and history here. We used to store actual compositional information at the material level, and it looks like the UThZr material is still doing that. Now, composition is stored at the Component level as the numberDensity param, and the material object itself is supposed to stay relatively constant.

We actually were talking about having `Materials

[2021-03-16 17:38] drewejohnson opened #268 "KeyError exporting hex geometry from grid gui"
Trying to save a hex geometry core using the FFTF blueprints and I kept getting
[code]
messages. I added
[code]
to https://github.com/terrapower/armi/blob/3cc980eb55eae7b6f8bcfcaa1c248d11c1758ca3/armi/utils/gridEditor.py#L1452-L1455 and the message became
[code]

Maybe related to #212? Possibly introduced in #229?

Using terrapower/fftf-isothermal-model@793fd8ec1a494b0254bdac61f9b145837c6b41ca and

[2021-03-16 18:03] onufer commented on #268
Yeah, i think you are right about when it was introduced. I think that the issue is that:
 https://github.com/terrapower/armi/blob/3cc980eb55eae7b6f8bcfcaa1c248d11c1758ca3/armi/utils/asciimaps.py#L486-L504

still expects a string. The `MAP_FROM_GEOM`  dict is:
[code]

Probably needs to be changed to geometry.GeomType.HEX.

[2021-03-16 18:29] drewejohnson commented on #263
@ntouran thank you for the response.

I think the move to `Materials` as-built or as fabricated seems sensible. There's probably a thousand other things going on behind the scenes but from a user and fledgling developer, that "meshes".

This maybe explains some of the confusion I've been working through over the past few days. I found that, if I wanted to change the loading of a burnable absorber

[2021-03-16 18:36] drewejohnson commented on #263
FWIW, it looks like `Material.setMassFrac` (for a single isotope) modifies `self.p` directly https://github.com/terrapower/armi/blob/0939d9386f5ae6c7ed92b7c5e7a47fbfe2902629/armi/materials/material.py#L188-L189 but `Material.setMassFracs` falls back to https://github.com/terrapower/armi/blob/ba1402289a5c6857711374d4c700df518963cfde/armi/reactor/composites.py#L965 which, after some conversions, mod

[2021-03-29 21:12] youngmit commented on #262
@drewejohnson finally got around from digging this up. Check out the `rxConstructMethod` branch. This is the result of cherry-picking a couple of commits from an old branch and some minor retrofit, so may have goofed on something. Let me know if you run into any trouble.

[2021-03-29 21:15] youngmit commented on #252
If there is behavior that you rely on, and makes sense as it is, feel free to make a PR with a test against that behavior! We need to start getting better at defining ARMI semantics so others may confidently use them, and this would be a step in the right direction.

[2021-03-30 02:47] mgjarrett commented on #268
Looks like it could mostly be fixed by replacing the `geomType` in the return statement with a call to `geometry.GeomType.fromAny(geomType)`, which would handle `geomType` as a string or as the `GeomType` enum.

`def fromAny(cls, source: Union[str, "GeomType"]) -> "GeomType":`

The only problem is that the enumeration folds `HEX_CORNERS_UP` into `HEX`, so there is no enumeration for `geometry.HEX_

[2021-04-04 18:47] ntouran opened #274 "Documentation fails to build correctly with fresh install of environment"
I tried building the documentation with the latest versions of all our dependencies with a fresh virtual environment in Python 3.9 and ran into a few new errors that lead to the following effects. The errors show up on both Windows and Linux platforms:

* Pyreverse images of the reactor classes are broken in the built documentation
* Bullet lists and other lists fail to render anywhere in the docs

[2021-04-06 14:30] drewejohnson commented on #262
@youngmit thank you for making that available. I'll let you know how it goes on my end

[2021-04-06 14:31] drewejohnson commented on #268
#273 has resolved my issue. Thank you @mgjarrett!

[2021-04-06 14:31] #268 closed

[2021-04-06 14:34] drewejohnson commented on #252
The weird bit is that the blueprints for a hex lattice find the pitched based on the `x` element. That's more the part that we're treating as if it could be removed in any given PR. Which is okay on our end.

I'm hesitant to make a PR w/ testing and codifying this practice because an attribute / key like `x` feels odd for hex grids. Finding the pitch for a hex  grid based on a new attribute / key

[2021-04-10 04:44] ntouran commented on #274
The Module import errors are related to this: https://github.com/PyCQA/pylint/issues/4186 and can be removed by reverting pylint.

[2021-04-14 18:17] #274 closed

[2021-04-14 21:08] theJollySin commented on #191
My assumption is that this is the block of code we are talking about, and it looks like it already has the basics:

https://github.com/terrapower/armi/blob/master/armi/bookkeeping/db/database3.py#L563

Though, as you say, we could grab the `App` subclass name starting at:

* `armi.getApp()`

The only things that immediately jump out at me are maybe we could grab information about the OS:

* `sys.p

[2021-04-15 15:37] drewejohnson commented on #191
For the git version, would using a package like [`setuptools_scm`](https://pypi.org/project/setuptools-scm/) be appropriate? It embeds the output of `git describe` into the package distribution pretty seamlessly in my experience. Then, the output of `armi.__version__` might be something like `0.1.6-41-g3e7ac5a` indicating the most recent tag (`0.1.6`), number of commits ahead of the tag, and the s

[2021-04-15 16:47] theJollySin commented on #191
@drewejohnson   I like your `hostname` idea.  That's an easy win.

For the commit hash; my original concern was that when someone runs ARMI they might do so on their own dev branch, not a release version. And to debug a run, they will need some way to identify where their workspace was at run time.

Do users typically run the code from within the Git repo folders?

* If Yes, then the above concern

[2021-04-15 16:48] youngmit commented on #191
Hi @theJollySin! I think those would be valuable. The main things that I had in mind when i made the ticket were the Git information in the case that the user is on an unreleased/un-tagged/development version of the code, and perhaps some more details about the plugins that are enabled.

@drewejohnson  I hadn't actually come across that package; I'll have to check it out!

The sticky thing with th

[2021-04-15 17:32] youngmit commented on #191
Yeah, the more I'm thinking about this, the more I seems that a lot of the implementation details about things like plugin versions is  really the prerogative of the specific App. For one, there isn't a guaranteed 1:1 mapping from a python package/version to a given plugin, so enumerating the plugins to get their "versions" gets a bit fraught.

Having an `App.describe()->str:` function seems like

[2021-04-15 19:32] theJollySin commented on #191
@youngmit  Sorry, I couldn't tell how to grab a list of all the plugins.

I like `App.describe()`.  If the plugins are external executables, I would also vote for grabbing their absolute paths.

[2021-04-15 19:50] drewejohnson commented on #191
@youngmit I like the idea of `App.describe`, seems simple enough. Would it be useful to return a dictionary mapping plugins exposed by the app to their versions? Something like `{"ARMI": "0.1.6", "App": Y, "SomePhysicsKernel": X}`. This, combined with a tool that pins the revision number in the package version (for armi and other kernels as submodules maybe) could be very useful for tracking down

[2021-04-15 20:31] youngmit commented on #191
That was __another__ thing that was in the back of my mind when I made the issue!

Plugins are instances of some class derived from `ArmiPlugin`. They are all registered with the applications plugin manager object, which is implemented by the `pluggy` library. So looping over all of those and taking something like `sys.modules[armi._app.__class__.__module__].__file__` is something that the framewo

[2021-04-19 22:17] drewejohnson commented on #263
Thank you all for your help on this one. I'll put other questions in the discussions tab in the future

[2021-04-19 22:17] #263 closed

[2021-04-26 16:08] jakehader opened #287 "Standardize the testing for CCCC interface files"
Currently, the CCCC interface file testing uses binary files that have been generated from a specific code (e.g., DIF3D). These binary files are used as the basis for reading in the data and checking that it is correct. This exceeds the minimum testing requirement to just ensure that the CCCC interface and read/write ascii and binary files from a given data structure.

It is recommended that we re

[2021-04-26 16:16] ntouran commented on #287
Yeah, minimizing testing dependencies on non-portable binary blobs of mystery is less than ideal.

[2021-05-02 14:38] jakehader commented on #237
Closed with #238

[2021-05-02 14:38] #237 closed

[2021-05-02 14:53] jakehader commented on #122
I think that assuming a stack order based on the implemented `STACK_ORDER` for interfaces and then enabling the interfaces with a single boolean leads to difficulties when trying to sit down and do an analysis using the underlying physics codes (i.e., you have to go through the code base and hunt down why things are being added in a certain order).

While there may be a natural order for TH compla

[2021-05-02 14:56] jakehader commented on #218
Is this still open @youngmit /@ntouran / @sombrereau ?

[2021-05-04 02:45] Scienkiller commented on #287
Hello, I am very glad to meet you, and ARMI is a very interesting thing. These days of study has given me a general understanding of the functions and usage of ARMI, but there are still many unclear points about the software coupling. If you can, I hope you can teach me, or give me some tips, and I will thank you very much

[2021-05-04 03:30] ntouran commented on #287
Hi @Scienkiller thanks for the question. We are trying to do Q&A  in the Github discussions feature. Would you mind re-posting that question here? https://github.com/terrapower/armi/discussions/categories/q-a

[2021-05-04 03:35] Scienkiller commented on #287
Okay, thank you very much for your reply, I am very happy to do this.

[2021-05-10 18:41] drewejohnson opened #297 "Grabbing local commit hash leads to extra std out call"
https://github.com/terrapower/armi/blob/bb1d08dc4a5e493b76757b330a23d43cefa308c3/armi/bookkeeping/db/database3.py#L603
doesn't catch what `git` ends up printing to stdout, namely the path to the repository. If the return code of this call is what is necessary, something like
[code]
might work.

Another note, the docstring indicates that https://github.com/terrapower/armi/blob/bb1d08dc4a5e493b76757

[2021-05-11 17:16] jakehader opened #303 "Refactor: Remove specialization of ThRZAssembly and RZAssembly"
The current implementations of `ThRZAssembly` and `RZAssembly` implement methods like `radialOuter`, `radialInner`, etc., which reach down into their corresponding `ThRZBlock`'s to get the `outer_radius`  and `inner_radius` dimensions.

This specialization seems outdated with respect to the implementation of grids and should be reassessed.  It seems that maintaining this separate set of assemblies

[2021-05-18 17:34] ntouran opened #304 "Switch runLog system to use python logging module"
Long ago, we wrote a fairly customized logging system in the `runLog` package that is used throughout the code to provide console output. The motivation way back when was related to ugly printouts when running lots of cases in parallel via mpi. In retrospect, we should have just used python's [logging module](https://docs.python.org/3.8/library/logging.html?highlight=logging#module-logging) and co

[2021-05-18 20:37] theJollySin commented on #304
I can do this one, if you like.  I've used Python's `logging.getLogger(name)` before.

This won't be a tricky change to make. Though, it looks like `runLog` is used in 128 files, so it will be a "big PR".

[2021-05-18 20:50] youngmit commented on #304
It might be good to still preserve the public interface of the `runLog` module, while implementing that on top of the python `logging` library. This way, we can refactor modules one at a time until `runLog` evaporates. That will also let us iterate on the general patter that we want to use before anyone goes on a massive refactor effort.

[2021-05-18 21:15] theJollySin commented on #304
@youngmit Yeah, I was thinking that as I was looking through the 128 affected files. It *might* be that I have to change the API a bit (for things like log level or log name). But I think certainly the best goal is to *not* change the external-facing API. Definitely.

[2021-05-25 22:00] youngmit opened #306 "Relax Operator requirements for adding Interfaces with the same function"
As it it currently implemented, `Operator.addInterface()` is very strict about adding interfaces that advertise the same `klass.function`. In it's current state, it will just produce an exception as soon as you try to add an interface that has the same function as one that's already on the stack. While this is a good sanity check of the combined plugin implementations of the `exposeInterfaces()` A

[2021-05-27 15:15] chris10mckenz commented on #306
#307

[2021-05-27 15:55] youngmit commented on #306
Fixed in #307

[2021-05-27 15:57] #306 closed

[2021-05-27 15:58] youngmit commented on #306
Thanks, @chris10mckenz !

[2021-05-29 00:06] drewejohnson opened #308 "Request: Don't perform temporary directory cleanup at exit"
When exiting a python environment that has imported ARMI, ARMI will do some cleanup: closing database files and removing old temporary directories. It looks like ARMI allows the temporary directories to reach two weeks old before removing them. This is nice because you don't have to worry about ARMI creating a backlog of temporary files and some recent files are still kept around.

Until you have

[2021-05-29 00:36] youngmit commented on #308
First off, 😱

[2021-05-29 05:48] ntouran commented on #308
Dang, I'm also sorry to hear that. We had troubles with runs filling up our HPC and this is a residue from that. We will make this kind of 'feature' opt-in rather than opt-out and leave its use up to the app developers rather than having it come with the framework.

[2021-06-01 16:43] ntouran commented on #308
@drewejohnson is this quick solution acceptable from your perspective at this point? It basically just turns off the feature by default.

[2021-06-01 23:46] drewejohnson commented on #308
@youngmit @ntouran thank you for the response and fast patch! I've looked over #309  and looks like it'll do the job. Won't know until I run another long sim.

I'm happy if you want to close this issue as it stands. The discussion wall might be a better place to hash out a longer term fix for how ARMI handles `atexit`.

[2021-06-03 16:50] youngmit opened #310 "Assembly add is being rather inefficient"
...I think. I was looking at test coverage stats and noticed something odd in the database3 code. This is never getting executed:

[code]

But the blocks have names. The right ones, to boot! Looking more closely, it turns out that their names are getting set in Assembly.reestablishBlockOrder(), which itself is getting called from:

[code]

So it would appear that the "more work" is happening every

[2021-06-09 23:19] jakehader opened #311 "Helix diameter incorrect in tutorial documentation"
see: https://github.com/terrapower/armi/blob/master/armi/tests/tutorials/anl-afci-177-blueprints.yaml#L12-L23

The helix diameter for the ANL-AFCI-177 inputs should be 0.8888 cm based on the Table 4.4 of https://publications.anl.gov/anlpubs/2008/05/61507.pdf, but currently is set to 0.84825 cm in the blueprints file. The helix diameter should be equivalent to the pin pitch, which is also defined a

[2021-06-09 23:26] ntouran commented on #311
Yeah I dunno if it'd be more clear in the helix component as helixdiameter = 2* helixradius = 2*(clad radius + wire radius) = 2*(cladOD/2 + wireOD/2) = cladOD + wireOD. Nice catch.

[2021-06-10 04:16] jakehader commented on #311
@ntouran, is there even a reason to have `helixDiameter` as a parameter since it seems over specified? What is it physically mean to have a `helixDiameter` smaller or larger than the **Wire OD** + **Clad OD**? Does larger imply "slop" in the pin lattice?

[2021-06-10 23:23] #311 closed

[2021-06-18 08:10] jakehader opened #314 "Update grids GUI to create core map without base blueprints"
One useful feature would be to use the grids GUI without requiring that a base blueprints be created first.

This change would entail adding a feature to create a assembly type within the grids GUI and assign it a name and a specifier. Once a new assembly type has been added to the list of available assemblies, the grid GUI should be able to function as if the assemblies were loaded from a bluepri

[2021-06-18 08:17] jakehader opened #315 "Add grid orientation options to the grids GUI"
One useful feature for the grid GUI would be to allow for the grid to be rotated for hexagonal or modeling (i.e., tips up). Sometimes core layouts are provided with a 90 degree rotation in documentation or a benchmark so this would be a quality of life improvement to save some time.

I am not sure if the ASCII maps currently supports this in the yaml file import or export, but it would be nice if

[2021-06-18 13:38] jakehader opened #316 "Improve test coverage and implementation of the RIPL reader"
The RIPL reader is used to load in a larger set of radionuclide data. It contains half lives and branching ratios. The current reader is a bit clunky and could be improved for better understanding. This is related to #259.

[2021-06-20 04:54] jakehader opened #317 "User grid resizing/rescaling on the GUI"
Currently, the grid GUI allows for a user-defined number of rings to be added, but once the core gets large it becomes difficult to verify the loading. It would be a nice feature to "resize" the canvas but either redrawing the core grid with smaller shapes or using some built in resizer functionality of wxPython.

[2021-06-22 13:50] macatillo opened #318 "No component matched warning for non-pin type fuel"
When using non-pin type fuel, the user is warned on "No component matched" for Flags.WIRE and Flags.CLAD. It is not clear where the warning is originating from or what can be done to fix it.

This is occurring in a non-standard fast reactor benchmark (BFS-73-1), where there are no pins/clad defined and the core uses a stack up of "disks" or "plates".

[code]

[2021-06-22 14:49] ntouran commented on #318
Oof sorry about that. That is most likely coming from a residual call to `b.getSmearDensity`, probably at `armi/reactor/blocks.py:813:40:            self.p.smearDensity = self.getSmearDensity()`.

We've modeled BFS-73-1 before too and surely got the same warning. That shouldn't happen at the framework level so I'll see what we can do to move that call into a more specific pin-type fuel plugin.

Fo

[2021-06-22 23:20] youngmit opened #319 "Give Blocks a spatial grid by default under certain circumstances"
Blocks tend not to have spatial grids, and their pin components lack spatial locators. This is because historically, we have not really cared that much _where_ a pin is in particular; usually there are enough instances of the pin components to fit neatly(ish) into a given number of hex rings or whatever, so we infer their locations that way. They are also usually identical, so we never had to care

[2021-06-22 23:35] ntouran commented on #319
I like this idea. I think it's pretty safe as you defined it since having a grid is just extra info and shouldn't change any answers or numbers for plugins that ignore it. It will be quite useful to have for people who can use the pin level info.

[2021-06-23 01:43] jakehader commented on #319
I agree with this and also think that it may uncover unexpected issues in client code related to "whipping up" block layouts. I believe that it would be safe to assume:

| **Core Grid Type** | **Block Grid Type** |
| Cartesian | Cartesian |
| Hexagon | Hexagon |
| RZT | `None` |

When determining whether a "pins" or all components fit into the grid will you be checking for geometry overlaps with t

[2021-06-23 03:46] jakehader opened #320 "Refactor expansion of elements to nuclides from blueprints"
When loading a reactor there are functions/methods defined in the blueprints that result in elements being expanded into nuclides using the definition of their `natural abundances`. This process is sensitive to user settings within the `nuclideFlags` option in the blueprints as well as some user-defined "magic" settings defined in the `autoSelectElementsToKeepFromSettings` function:

https://githu

[2021-06-23 16:49] youngmit commented on #319
In my mind, ARMI would just throw up its hands and not even attempt to set a `.spatialGrid` for such a block, leaving it as None. I agree that reporting the generated grids to the user in the stdout is a good idea.

[2021-06-23 17:19] youngmit commented on #320
In general, I think we should be punting the decision to expand elements to isotopics closer to the specific plugins that carry such requirements. However, ARMI should make imposing those mappings really easy for the plugin developer to implement. One approach could be to add an optional filter argument to `getNumberDensities()` that ARMI can call on the number densities dictionary before returnin

[2021-06-23 17:26] bmingst opened #321 "Obscure python system warning for a bad file name."
A bad file name in an ARMI script generated the obscure python system warning "NotImplementedError: Non-relative patterns are unsupported."  The warning does not reflect the actual problem, and is confusing.

The error was being thrown from python glob().  Beginning from line #756 of "case.py", the current logic in this case is:

           for f in files:
                path = pathlib.Path(f)

[2021-06-23 18:17] ntouran commented on #320
I like Mitch's suggestion a lot. From my understanding, the plugins that are writing information wouldn't have to choose which nuclides to represent, that'd be universal. They would have to choose how to remap the elements/isotopes combos that they have updated back onto the unchanging set of nuclides/elements.

Big risk here is what would happen if a plugin inconsistently used the filters. That's

[2021-06-29 16:37] youngmit commented on #252
We might be able to have the blueprints accept a scalar as well as the more general x/y/z triplet. I ran into this myself recently and it is a bit odd to be sure...

[2021-07-06 17:57] #321 closed

[2021-07-08 21:30] ntouran opened #331 "get coveralls working again now that we switched to github actions"
Coverage checking isn't happening automatically even though it should be via the tox config.  Figure out the problem and fix it.

[2021-07-12 19:53] theJollySin commented on #11
This might be an interesting problem for me to solve, to help me learn my way around our tooling.

[2021-07-14 17:29] youngmit opened #332 "ASCII maps for cartesian always behave as though they are reading for quarter-symmetry"
Consider this grid blueprint from the C5G7 example:
[code]

When the contents of `lattice map` are read in, the `asciimaps` code is treating the bottom-left `U` as (0,0), and placing all of the objects in the first quadrant. This is what you would expect in a quarter-symmetric case. However in a full-symmetry case, one would expect the (0,0) to lie on the `FC` in the center. We need to do a symmet

[2021-07-20 05:00] theJollySin commented on #246
This seems like something I could handle.

And you're totally right, performance is my only real concern here.

[2021-07-21 22:34] jakehader commented on #332
@youngmit, we saw this in a benchmark model of ZPPR as well within the grid editor.

[2021-07-26 16:21] youngmit commented on #331
Fixed in #337

[2021-07-26 16:21] #331 closed

[2021-07-26 16:22] youngmit commented on #319
Implemented in #323. Thanks, @chris10mckenz !

[2021-07-26 16:22] #319 closed

[2021-07-28 20:54] john-science opened #349 "Remove all bare "import armi" statements."
The idea is simple, remove all the bare "import armi" statements left in the repo after PR #347.

This will require some refactoring though, as all the low-hanging fruit has been picked.

There are still 23 instances left in ARMI with bare `import armi` statements:

| File        | What is used? |
| :----------------- | :------------ |
| `__main__.py`  | configure(), isConfigured(), MPI_RANK, MPI_

[2021-07-28 20:54] theJollySin commented on #349
I do not have permissions to add labels here, but I think "good first issue" might apply.

[2021-07-28 23:24] keckler opened #351 "Missing unit definitions"
Unit definitions are missing in much of the documentation. Because there is not a single set of units used throughout ARMI, variables without unit specifications are difficult to comprehend.

It would be useful to add units on all physical quantities outlined in the documentation, preferably in a consistent manner.

[2021-07-28 23:31] keckler opened #352 "Request: General unit conversions in ARMI"
Due to the nature of the plugins in ARMI and their different needs, the code does not enforce a specific set of units. This has led to a variety of units being used for the same physical quantities throughout the code in a way that is difficult to predict. And because the units of some quantities are not specified (see [351](https://github.com/terrapower/armi/issues/351)), sometimes it is unclear

[2021-07-29 01:36] ntouran commented on #351
Good request, thanks. Our sphinx documentation system does auto-generate all the parameter definitions into tables (like this one https://terrapower.github.io/armi/user/block_parameters_report.html) based on the parameter definition code in the framework and in the plugins, which can be in places like this: https://github.com/terrapower/armi/blob/master/armi/reactor/blockParameters.py. We do certa

[2021-07-29 01:50] ntouran commented on #352
I really like the idea of integrating Pint into the parameter definition system. The parameter definition objects [in here](https://github.com/terrapower/armi/blob/master/armi/reactor/parameters/parameterDefinitions.py) have a string that represents the units and we could (perhaps optionally?) have the framework load up the equivalent unit type from the pint db (or a user-provided custom pint db).

[2021-07-29 01:55] ntouran commented on #351
If anyone wants to take a crack at adding units to some parameters where units are missing, I can help guide you as to what the units should be. That could be an easy first commit if you see an obvious one.

[2021-07-29 02:09] jakehader commented on #351
The scope of this issue goes beyond just parameter units alone, but should be documented in the blueprints docs too. It would be nice to be able to specify dimensions or temperatures of components on the front end as inches, cm, mm or Celsius, Fahrenheit, Kelvin and have this converted to an appropriate set of units prior to constructing the reactor.

Even with this, we should set a standard for A

[2021-07-29 02:22] jakehader commented on #332
Closing since this was fixed with #346.

[2021-07-29 02:23] #332 closed

[2021-07-29 02:29] ntouran commented on #351
I would argue that we should limit this issue's scope to filling in the blank/undefined units that exist but are undocumented.

Having a bigger-picture discussion about units in general should happen in the discussion forum, and that can lead to another series of concrete issues which should include requirements.

[2021-07-29 11:02] Himanxu1 commented on #351
Hello, I am a beginner in open source and I want to contribute in it .

[2021-07-29 13:34] ntouran commented on #351
I searched the codebase and found the following lines that have `?` units, all of which should be updated.

[code]

Looking through, oof not all of these are abundantly obvious to a newcomer. However a meaningful contribution would be to add "cm" to all the linear dimension ones like `inner_radius`

[2021-07-29 21:41] keckler opened #354 "Component Parameter listing in user docs"
The [section in the user docs that outlines the various types of parameters](https://terrapower.github.io/armi/user/manual_data_access.html) provides links to dedicated pages where more extensive listings can be found (see [353](https://github.com/terrapower/armi/pull/353) for more info on recent updates to the links). The links for Reactor, Core, Assembly, and Block parameters all go to similar p

[2021-07-29 22:13] jakehader commented on #354
#353 has been merged.

[2021-07-29 22:24] keckler commented on #351
I also want to add that there are more units missing in the cases where simply nothing is given in the units field at all:

`git grep -r "units=\"\""`

[code]

Sometimes the fact that nothing is provided is justified by the parameter being unitless, but a quick scan through some of those results shows that many of them do in fact require units.

A related question would be if unitless parameters s

[2021-08-02 21:31] keckler opened #357 "Building Macro XS's without MPI parallelism"
If the import of `mpi4py` is unsuccessful, `armi.MPI_COMM` is set to `None` within context.py. This leads to issues with the current implementation of `invokeHook` within the `MacroXSGenerator` class, which assumes that `armi.MPI_COMM` is instantiated, and causes the code to fail with an AttributeError.

This means that machines which fail the `mpi4py` load will not be able to run a large class of

[2021-08-03 05:57] jakehader commented on #357
@youngmit and I were just talking about this issue so thanks for making a ticket (and also discovering the issue too!). Mitch had some ideas of how to handle this more generically within the framework if a machine did not have MSMPI (or equivalent) installed.

[2021-08-03 05:58] jakehader commented on #218
Closing due to no response. I believe this has been fixed.

[2021-08-03 05:58] #218 closed

[2021-08-03 13:32] keckler commented on #357
I figured that someone might have a more sophisticated idea on how to fix this than me. I'll leave it to the experts.

[2021-08-03 17:36] jakehader commented on #357
@keckler, can you just submit the changes that you made and we can review them? Your solution might be a good stop gap for now and we can think about future improvements if needed.

[2021-08-03 19:40] theJollySin commented on #357
@youngmit   Is this your 'stub version of MPI' idea?  Or do you favor something more like keckler's idea above (which also sounds quite reasonable).

[2021-08-03 21:17] jakehader commented on #357
@theJollySin, yeah the other idea that @youngmit had was the MPI stub, but maybe that's a longer term solution and @keckler's fix is a shorter term solution. We can keep this issue open even after the PR.

[2021-08-03 21:32] keckler commented on #357
Sure, I'll put it up later tonight and let you know.

[2021-08-03 22:49] keckler commented on #357
The fix that I implemented is up at #359 . @theJollySin @jakehader @youngmit

[2021-08-04 18:50] youngmit opened #360 "GridBlueprints decay to `gridContents` mode when constructed"
GridBlueprint allows for specifying object layout via either `grid contents` or `lattice map` on the YAML side. These both map to the `gridContents` and `latticeMap` yamlize attributes, respectively. When we go to construct the Grid object, we read `latticeMap` contents into `gridContents`, which is then treated as the canonical representation. This has the undesirable consequence that if one read

[2021-08-05 18:46] #304 closed

[2021-08-06 17:07] jakehader opened #366 "Bugs in updated logger"
Recently, #336 was merged in and I have noticed several bugs that are now present when running cases:

1. All outputs are being sent to the standard error (stderr) stream.
2. Some MPI messages appear to be missing from the outputs, even for the head process (MPI_RANK=0)
3. I received the following logger error after a run was "completed" causing the case to fail:

[code]

[2021-08-06 17:17] theJollySin commented on #366
Darn and/or shucks.

Okay, one at a time:

1. This would be quite surprising to me. Especially since we are literally `print`ing the log messages at the end of the run:
     https://github.com/terrapower/armi/blob/master/armi/runLog.py#L292
    I would give it a possibility that the stdlib python.logging.StreamOutput passes all text to stderr, instead of stdout. Though, that would be news to me. I

[2021-08-06 17:25] jakehader commented on #366
Hi @john-science, yes I can point you to some outputs if you message me directly. For now I am going to revert this commit, test things out and push a separate remote branch to work off of until we work out the kinks.

[2021-08-06 17:39] jakehader commented on #366
Update: After reverting this commit I am noticing that the head process information is actually set to `xtra` so maybe it's not a problem with writing out, but maybe the `xtra` verbosity isn't being treated correctly?

[2021-08-06 17:49] john-science commented on #366
IF we look back at the `master` branch from a few weeks ago, we can see that `xtra` was never something you called directly, it was something that was displayed. But `extra` was the thing we called:

https://github.com/terrapower/armi/blob/27358cfde190ab66605dc9c67b19d654c80fc3e9/armi/runLog.py#L53

Is this what you are talking about?

[2021-08-06 17:53] jakehader commented on #366
Yeah that's what I am referring to

[2021-08-08 05:02] jakehader commented on #366
Fixed with #367! Thanks for the help @john-science

[2021-08-08 05:02] #366 closed

[2021-08-12 18:54] john-science opened #371 "Explore immutable settings"
Currently, there are many places in the codebase where we call `getMasterCs()` and read in all the settings.  Slightly more troubling, there are many places in ARMI and in the plugins where we _change_ settings mid-run.

**Purpose**: explore how much havoc would be caused by making settings immutable.

**Method**: change the settings API a bit to raise a `DeprecationWarning` every time a setting i

[2021-08-12 18:54] john-science commented on #371
@youngmit  Could you assign this to me, please?  Thanks!

[2021-08-12 21:47] youngmit commented on #371
Done!

[2021-08-13 04:38] #357 closed

[2021-08-13 04:45] jakehader commented on #161
After revisiting this request and understanding plugins better, it seems that this type of functionality could instead be achieved by introducing a new setting into the application within the plugin instead that defines a new input that is needed. The `specifyInputs` on the Interface serves a specific purpose based on case settings, so it should be left as is.

[2021-08-13 04:45] #161 closed

[2021-08-17 23:23] youngmit opened #373 "Somehow reduce the number of log files created by third party libraries"
@john-science Did some cool work to make our logging stuff implicitly rub off on TPLs, but an unfortunate side effect of this is that we get lots of _empty_ log files, which I assume are being created when the library instantiates its `logging` object. Would it be possible to either automagically clean these up, or perhaps even lazily create the file on first write? something like that. Not super

[2021-08-18 00:14] john-science commented on #373
@youngmit  Sure thing!

The obvious solution is:

If you prefer we act in a more lazy manner, I will look into it. As it happens, `logging.FileHandler` is exceptionally _not_ lazy. It pins the file itself to the I/O stream, so if the file doesn't exist at any point after the `FileHandler` is created, all logging will silently be lost. (I hate that it's silent.)  I think the solution would have to

[2021-08-18 01:47] jakehader opened #375 "Update database3 merging to include statepoint names"
One functionality that seems to be missing is the ability to merge databases with specific statepoint names within the `mergeHistory` method. Additionally, it might make sense for this method to be renamed to `merge` and support concatenation of two database files directly (maybe this is the functionality already, but I am not super familiar with the implementation).

Additionally, I am not sure i

[2021-08-18 15:17] jakehader commented on #375
As an example, I have a bunch of intermediate state databases when running the control rod iterations. I would like to clean these up and add them to original database that is created for the run so that I can make use of the visualization tools without having to load individual .h5 files or do separate `vis-file` conversions.

![image](https://user-images.githubusercontent.com/26268658/129924675-

[2021-08-18 16:17] jakehader commented on #373
@john-science - the main ones I am seeing are from `matplotlib`:

![image](https://user-images.githubusercontent.com/26268658/129934362-2b265a04-03c9-4120-b0a9-bca2ed278395.png)

[2021-08-18 17:13] john-science commented on #373
@jakehader  That is super annoying.  Sorry, I wasn't seeing that in my usual in-use-test-case testing.  Though I was perhaps just not looking in the right folder?

In any case, there is a PR open to fix this: https://github.com/terrapower/armi/pull/376

[2021-08-18 17:20] jakehader commented on #373
@john-science, I'll check it out and let you know if it works on the case I'm running! Thanks for the quick fix.

[2021-08-18 23:51] john-science commented on #360
@youngmit  Please forgive my rudimentary questions.

1. Where does the writing back out happen?
2. Does "lattice map" just mean these ascii-art-style diagrams, as opposed to using numbers to define positions?\

[2021-08-19 15:45] youngmit commented on #360
No worries! If it's not clear in the docs, then that's our bad. As with most yamlize-based stuff the loading/dumping is cloaked in mystery and superstition 🧙‍♂️.

1. technically anywhere you want, just by calling the `dump()`. Example of where we actually do this is here: https://github.com/terrapower/armi/blob/09c26c7bde2ca43bdcf71b80948c9bfc283808d3/armi/utils/gridEditor.py#L1521 (yikes on the `

[2021-08-24 15:41] john-science opened #381 "ARMI infinite loop in Interpreter"
This is a pretty usual way of spinning up ARMI in the interpreter:

[code]

Unfortunately, right now this causes an awful infinite loop for prompting:

[code]

[2021-08-24 15:44] john-science commented on #381
@jakehader  @youngmit  I am working on it now.  I know this has happened super recently, and since it has to do with the interpreter, I imagine this is a side effect of trying to automate logging initialization in the interpreter (see the above PR).

[2021-08-24 17:19] youngmit commented on #381
This is an interesting message, which I haven't seen before. It could be that you are running from a directory with no settings files or something? I think `armi.init()`, when not provided a path to a settings file will look at the cwd for .yaml files and prompt for which one to load. If there are none, maybe it leads to this? I suspect that the loop is from any prompt that the loading process or

[2021-08-24 17:25] john-science commented on #381
Yeah, the actual error message is a prompt that a settings file wasn't provided. But that's a bit of a red herring.  Jake was also seeing this infinite loop of prompts in a different situation.

The problem as I see it is not the prompt itself, but that we are now getting infinite loops of prompts instead of 1 for user input.  I am circling in on the root cause ATM.

[2021-08-24 18:08] john-science commented on #381
@jakehader  Okay, I have a fix.  I am just trying to decide if there is a better way to test this CLI stuff before I make a PR.

[2021-08-24 20:47] john-science commented on #381
@jakehader Okay, I have a fix. And the PR is in: #382

If you have any further trouble, feel free to re-open the ticket.

[2021-08-24 20:47] #381 closed

[2021-08-26 18:41] keckler opened #387 "Docstrings in `basicShapes` classes erroneously include units"
Many of the method docstrings of various classes within the `basicShapes` and `complexShapes` module include units when the methods are actually unit-agnostic. For instance, the [`getComponentArea`](https://terrapower.github.io/armi/_modules/armi/reactor/components/basicShapes.html#Circle.getComponentArea) method of the `Circle` class says "Computes the area for the circle component in cm^2". Simi

[2021-08-27 16:33] #387 closed, assigned to john-science

[2021-08-30 23:08] john-science commented on #373
I believe PR #384 solved this issue. Can we close it?  @jakehader ?

[2021-08-30 23:12] john-science commented on #246
I implemented a pure-Python solution for this.  It's fine, but slow.  I think the real solution might be we wait until NumPy makes the change and then just catch the error they throw. It only needs to be caught in a few places.

I can give it another whack, but NumPy has a lot of built-in logic for how to convert lists-of-sets-of-dicts to arrays. And a lot of special-case handling that, while it m

[2021-08-31 00:25] drewejohnson opened #392 "Provide App.describe for use in databases and cli"
I've been thinking about the idea of `App.describe` and I think it could be a useful feature. Bringing this out from #191 for a focused discussion while #191 may include much more than this. The motivation is much like that of #191: reproducing analysis and bugs if you're given just the HDF file.

From the wayback machine,

_Originally posted by @youngmit in https://github.com/terrapower/armi/issu

[2021-08-31 14:52] keckler opened #393 "User docs error"
The section of the ARMI docs describing the Settings Input File is missing an excerpt that should be there. See the highlighted portion of the attached screen grab.

![image](https://user-images.githubusercontent.com/21959600/131525082-596de4a4-a6da-4f6c-bd1c-6bc627b1947a.png)

[2021-09-01 17:08] #308 closed

[2021-09-01 17:10] drewejohnson commented on #392
Little more thinking, this could be facilitated by each a `Plugin.describe -> dict` like method returning at least the version information for that plugin. The "default" case for plugins that don't have this overridden could return `{"version": None}` or `{"version": "UNKNOWN"}`

[2021-09-01 18:38] youngmit commented on #392
We've been discussing this some internally, and landed on something pretty close to what you describe. App and Plugin classes will have `.describe()` method, which just returns dict. Default impl might _try_ to come up with something useful on its own, but mostly expected that the App/Plugin developer implements whatever they think is useful. `App.describe()` would produce a dict with whatever the

[2021-09-01 23:42] drewejohnson commented on #392
@youngmit thank you for the response and feedback. I think leaving most if not all the work up to developers of the Apps and Plugins is sensible.

💯 🚀

Oh, any thoughts on exposing this as an CLI entry point? Could definitely be added later once the `App.describe`, either here or in downstream packages

[2021-09-01 23:59] jakehader opened #397 "Raw database write does not include the case settings"
We save the settings object to our databases, under the `inputs/` section.

But, that has to be done explicitly using `writeInputsToDB()`, instead of it being doing automatically when we create a Database file.  That seems inideal.

[2021-09-02 11:30] jakehader commented on #392
It might make sense to be an optional argument on the general entry point for the application to write out the verbose description of the application. Maybe something like `python -m app --version` where it writes out the version data for the app along with the collective description of the app with it's plugins?

[2021-09-02 11:32] jakehader commented on #373
I believe so! I haven't seen as many log files around with the changes, but I can reopen if I see them again.

[2021-09-02 11:32] #373 closed

[2021-09-02 12:02] jakehader commented on #318
I wonder if these types of reports for calculating design-specific information, like smear density, should be the responsibility of the reports plugin where the API could expose certain functions to call based on the design(s) being analyzed.

Things like smear density, hydraulic diameter, wetted perimeter, etc. are design type specific but also depend on user modeling choices. Providing a warning

[2021-09-02 17:04] keckler opened #399 "Request: Multiple component links and arithmetic in blueprint files"
In the blueprints files (specifically within the components section) we already have the ability to link component dimensions to each other. This is not only useful for avoiding repetition, but more importantly it is useful because it keeps the dimensions linked even through thermal expansion of the components.

However it seems that current capabilities only allow for linking a dimension through

[2021-09-02 18:37] jakehader opened #400 "Update `Case` to allow manually adding dependencies"
When using the `Case` in `cases.py` the dependencies are auto-derived based on the plugins and some other settings like `explicitRepeatShuffles` in https://github.com/terrapower/armi/blob/b0c76656ec97c984272c1e9df0a7bb26db8045c9/armi/cases/case.py#L169-L180. There are a couple of challenges/problems with this that I think can be cleaned up:

1. The dependencies are auto-derived each time and there

[2021-09-02 18:44] youngmit commented on #397
Writing of inputs to the database is taking place in the DatabaseInterface, rather than initialization of the Database3 object itself. This means that if one opens their own database, it is on them to call `writeInputsToDB()` themselves in order for the inputs to be included. This is a little bit surprising for a couple of reasons:

 - you'd expect to be able to just put a reactor into a database

[2021-09-02 18:48] jakehader opened #401 "Warnings with YAML1.1 Mantissa"
[code]

I am creating this issue just for other users/developers to be aware. It seems that the YAML updated their specification to write a warning if a float does not include a decimal (i.e., 1e-10 creates a warning rather than 1.e-10) - see: https://github.com/pycontribs/ruyaml/blob/8d846508e8386c7e34b77adce32fe78877bc025f/lib/ruyaml/error.py#L258. To fix this, it is suggested to add the followi

[2021-09-02 18:48] #401 closed

[2021-09-02 19:46] john-science commented on #401
I note the we import ruamel in 8 separate modules in the repo.  And, of course, Yamlize imports it many, many times.

My preference is to block out this annoying warning, rather than enforce their lame standard on our YAML files. But that will mean some minor import re-org so we can filter all these warnings in one central location.

I have to admit, that's an annoying warning. Let me think about

[2021-09-02 20:00] john-science commented on #401
Hello again.  I can not reproduce your warning.  I have tried the following in the `ruamel` versions `0.17.10` and `0.17.16`:

    ordereddict([('stuff', 10000.0)])

[2021-09-02 23:30] jakehader commented on #401
I am using version `0.17.2`

[2021-09-03 15:10] keckler opened #402 "No warning when material modification is unused"
Right now if you define an assembly with a material modification that is not recognized, ARMI does not tell you that it isn't recognized or that it is unused. For instance, I can define an assembly:

[code]

No mention of the modification `this_is_a_fake_setting` is made in the output. It would be useful for the user to know that their modifications are not recognized, at the very least as an inpu

[2021-09-03 15:22] john-science opened #403 "Running CaseSuite.clone() deletes the repo and all adjacent directories"
When running the `CaseSuite.clone()` method, it can delete the entire repository, and all directories adjacent the repository.

I have reproduced this bug off master, and here are the exact steps you need to reproduce it yourself.

First, set up the env from scratch:

[code]

Then, just to prove everything is working, let's run some unit tests:

[code]
That worked fine. Now add this text to `test_

[2021-09-03 15:29] youngmit commented on #403
Quickest way to find this might be to make some file read-only and try to reproduce and see where it stubs it's toe. Looking through the code, it's not immediately obvious where this might be happening.

@john-science for completeness sake, what platform are you running on? Shouldn't matter too much, but lots of the os/file system stuff in Python is surprisingly different between linux and windows

[2021-09-03 17:53] john-science commented on #403
Update.

So, the problem is here:

https://github.com/terrapower/armi/blob/master/armi/cases/suite.py#L182

If the users specifies a non-existent directory as `oldRoot`, the variable `newDir` takes on the value `..`, and then everything gets wiped by the call to:

    directoryChangers.ForcedCreationDirectoryChanger(newDir, clean=True, dumpOnException=False)

So, I haven't decided the best way to

[2021-09-07 15:28] ntouran commented on #403
Sorry for the destruction.

This stems from an issue we've had many times where people run hundreds and thousands of cases on the HPC and sometimes the jobs don't finish quite right (e.g. crash due to a bug, cancelled due to going where people don't want, etc.). We've struggled with the local cluster drives filling up from abandoned runs. Hence all the cleaning. The downside I guess is that in non

[2021-09-07 16:15] ntouran commented on #403
Specificially, in `directoryChangers.ForcedCreationDirectoryChanger.__enter__` we chould move the `if self.clean` part so that it only runs if the makedirs command above was actually executed.

[2021-09-08 19:47] youngmit opened #406 "Folder deletion in pathTools appears to be accounting for potential parallelism oddly"
In the implementation of `cleanPath()` there is this fun chunk of code:

https://github.com/terrapower/armi/blob/54664d800db9eec1f6dff584d5eda65329048d49/armi/utils/pathTools.py#L266-L277

The only reason I can imagine for attempting the deletion in a loop with delays and a broad try/except if for scenarios in which the folder deletion is being attempted in parallel, and/or targeting a directory s

[2021-09-09 15:48] john-science commented on #393
This issue has been resolved.  You can look at the live version of the docs here to see the example file:

https://terrapower.github.io/armi/user/inputs/settings.html#the-settings-input-file

This has come about as part of the initial work to revamp the docs in this PR: https://github.com/terrapower/armi/pull/404

Thanks for the find!

[2021-09-09 15:48] #393 closed

[2021-09-09 16:30] ntouran commented on #402
good point. I could see typos or other mistakes going through too easily without that. As a [block is constructed](https://github.com/terrapower/armi/blob/f3ea290ac8cf6e10e3beb1c7f1769bfe63ebe5d5/armi/reactor/blueprints/blockBlueprint.py#L110) we could have the component indicate whether or not they used a material input and then if there's anything left issue a warning or error.

[2021-09-09 20:21] john-science commented on #371
Before I go about the business of refactoring our settings code to make the settings truly mutable, I have outlined below all the places in the ARMI framework we mutate settings mid-run.  I would like your opinion on which of these cases below is **not** a valid use-case for mutable settings.

From this list, I will generate all the sections of the codebase and workflows that need to be refactored

[2021-09-09 21:08] youngmit commented on #371
1 is one of those places where it should probably be making a new settings object with the new settings. Especially since it's making some decisions about where the blueprints and geom file [theses are borderline defunct and probably need deprecated, too, at some point. going to make an issue to this effect].

4: Not even sure what we need this for. Very odd... 6 is doing something similar. I am s

[2021-09-09 23:08] john-science commented on #403
This bug was closed by PR https://github.com/terrapower/armi/pull/405

But I think there is probably still a little more work to be done to ensure that we are being maximally safe.

[2021-09-09 23:08] #403 closed

[2021-09-10 00:06] john-science commented on #371
**Fun Fact:** These two methods `setStateToDefault` are not used in ARMI. Though there are ~32 places in the code that assumes `cs["runType"]` exists, and depends on the value. It is, apparently, a very important setting, with an entire file devoted to providing the options (`armi/operators/runTypes.py`). My current guess is that these two staticmethods are either entirely unused, or used in some

[2021-09-10 16:59] youngmit opened #410 "Replace old reports code with new reports code"
@chris10mckenz gave us new Reports functionality. We should start using it. Highest priority should be given to the diffuse code that's reaching into the old reports data from all over the place (looking at you https://github.com/terrapower/armi/blob/6efb915e1ad5d19b5d30a14c93bab14b75d33ea6/armi/settings/caseSettings.py#L335).

[2021-09-12 01:21] jakehader commented on #400
@youngmit, could you make another PR that provides a mechanism to get a case from a suite? Right now the Suite's cases are in `_cases` without a clear way to get them without just manually printing them and figuring out what the index is and then using it.

It would be nice if a case could be retrieved by name or some other attribute.

[2021-09-12 01:26] jakehader commented on #406
This may be separate from this, but I have experienced issues when writing a file to a drive location and then immediately trying to access it where I can an OSError. I wonder if we were to delete these sleep timers and run some cases if this would uncover other issues.

[2021-09-12 01:38] jakehader commented on #399
For the case you provide above with the clad od being mapped to the clad id + some number that could probably be better treated if we allowed a thickness parameter.

The second case is probably more interesting because of the link to two component dimensions. I believe that the helixDiameter should be effectively equal to the pin pitch for hexagon grid cases so this would probably bring up an inte

[2021-09-14 19:04] davis8dd commented on #360
Hello, now that this issue has a PR merged against it should this issue be closed?

[2021-09-14 19:21] youngmit commented on #360
@davis8dd I think you're right. @john-science  happy to close this one?

I assume you're combing for good first issues?

[2021-09-15 15:48] davis8dd commented on #360
Yes.

[2021-09-20 16:44] mgjarrett opened #417 "Some gallery examples are broken"
Six of the gallery examples show a "broken" thumbnail.

https://terrapower.github.io/armi/gallery/index.html

Related to #394; some of these examples are calling a `sefl._log()` with arguments that are consistent with the ARMI logger where a standard python logger is expected.

[code]

[2021-09-20 21:33] john-science commented on #417
@mgjarrett  I opened a PR for this:  https://github.com/terrapower/armi/pull/418

[2021-09-23 19:11] drewejohnson opened #420 "Exporting a core with third-core symmetry assembly locations exports lattices in third-core symmetry as well"
Using the input files from #251, I've stumbled across a strange bug/feature. Say I want to model a hexagonal reactor where fuel assemblies have some hexagonal pin lattice. The model is solid and plays well with ARMI. Now I want to model the core using 1/3 symmetry, and make a core map like
![image](https://user-images.githubusercontent.com/19477741/134568435-2645e45f-1b1b-4781-bc7d-c1db2936f545.pn

[2021-09-23 19:16] drewejohnson commented on #420
I'm using 5b7d215cc023098fd49e51d8c51336c315e9daad (0.1.6) for this replication. I found that later versions like 5d210605c8ef376fdf13cd1fb9ffd29ce63edff9 (current master HEAD) produced issues exporting the blueprints
[code]
produced
[code]

[2021-09-24 21:13] youngmit commented on #420
@drewejohnson good find! I see a couple of things that are leading to this in gridBlueprints.py:
 - https://github.com/terrapower/armi/blob/eeb28b46de305cf2477ca92fd2aec811704fdd13/armi/reactor/blueprints/gridBlueprint.py#L563 here there really is one "the grid," off of which the asciimap code is getting it's symmetry type from. This is a remnant of the old days when the Core grid was the only gri

[2021-09-27 18:40] keckler opened #424 "Bug in `applyInputParams` of multiple material classes"
The `applyInputParams` methods of multiple material classes contain a common bug when applying enrichments to particular isotopes/elements. Take, for example, adjusting the enrichment of B10 within the [B4C class](https://terrapower.github.io/armi/.apidocs/armi.materials.b4c.html):

[code]

If the user intentionally specifies `B10_wt_frac=0`, as in they want their absorber to have only B11, the en

[2021-09-27 19:31] youngmit commented on #424
Looks like this just needs an `is not None` to disambiguate the falsiness of zero (implicit truth checks of numbers is a pretty big footgun, as this demonstrates).

@keckler would you mind filing a PR to fix?

[2021-09-27 23:27] john-science commented on #424
Does this bug only apply in this one file?  I see several material have the `applyInputParams` method.

[2021-09-28 00:09] jakehader commented on #424
It appears that it's only in one material but the issue may be because B4C has a different constructor. It would be nice if the API for the materials with these applyInputParams was consistent. Maybe in the past we had kwargs but broke them out into specific args? I don't remember the history off hand.

[2021-09-28 00:31] keckler commented on #424
@jakehader I think it is more than just the one material. I just scanned through the material classes in the framework, and in addition to B4C, it looks like the following material classes suffer from the same bug. Let me know if you disagree, maybe you see something that I don't.

[UO2](https://terrapower.github.io/armi/_modules/armi/materials/uraniumOxide.html#UraniumOxide.applyInputParams)
[MOX

[2021-09-28 00:40] jakehader commented on #424
Hi @keckler you're probably right on the others. If you have a suggested fix for B4C that you could generalized then that would probably be worthwhile to look at.

[2021-09-28 03:10] keckler commented on #424
PR added at #425

[2021-09-28 19:13] john-science commented on #424
PR Merged!  Thanks @keckler!

[2021-09-28 19:13] #424 closed

[2021-10-04 18:08] keckler opened #431 "Missing material modifications in docs"
There is a table in [section 2.2.4 of the documentation](https://terrapower.github.io/armi/user/inputs/blueprints.html#assemblies) that describes the material modifications available across all the material classes in the framework:
![image](https://user-images.githubusercontent.com/21959600/135901100-6d12046c-ddb0-4c1d-a33e-258f13d50535.png)

This table is missing entries for the following materi

[2021-10-04 18:28] john-science commented on #431
Nice find!

Thankfully, that's an easy fix.

[2021-10-05 16:40] john-science commented on #417
PR #418 resolved this ticket.

[2021-10-05 16:40] #417 closed

[2021-10-05 17:24] john-science commented on #431
I haven't forgotten about this ticket.  It appears that inside the `if numArgs > 1:` condition, we can do something like:

    for subM in m.__subclasses__():

And do the same `if numArgs > 1:` checking again.  I just haven't decided the cleanest way to write the resultant two loops (or the final table) yet.

It'll happen this week.

[2021-10-05 22:16] keckler commented on #431
Thanks John. My only issue is that the modifications that we just deprecated in #430 are showing up in this table (i.e. `theoretical_density` and `sulful_density_frac`). I don't really see a way around this, so I guess I'll live with it.

[2021-10-06 00:11] keckler opened #433 "Multiple components with same name in a block"
As best as I can tell, it seems that if one defines multiple components that have the same name within given block, previous components with that name will be overwritten by components further down in the input file. Please correct me if I am wrong on this, though. I am having a hard time convincing myself, but some simple testing makes me inclined to believe.

Further, I believe that no warning i

[2021-10-06 00:41] youngmit commented on #433
This is actually a little bit tricky. According to the YAML Spec, mapping keys MUST be unique. So in this case, we technically have invalid YAML. However, the YAML parser is not seeing this as an error, and therefore not complying with the spec. This is being tracked in https://github.com/yaml/pyyaml/issues/165, which is itself a duplicate of https://github.com/yaml/pyyaml/issues/41, which was sub

[2021-10-06 00:42] youngmit commented on #433
This is an issue in the dependency upstream, though we could considering using some workarounds (e.g., https://gist.github.com/pypt/94d747fe5180851196eb). We should keep this open to monitor issue status.

[2021-10-06 01:36] ntouran commented on #433
Wait a minute though, aren't we **not** using pyyaml anymore? Blueprints uses ruamel [which originally was a fork of pyyaml](https://yaml.readthedocs.io/en/latest/pyyaml.html). I seem to have some recollection of being able to detect duplicates at another level nowadays.

In any case I agree that we would prefer to crash or at the very least warn in this scenario if possible.

[2021-10-07 16:48] youngmit opened #436 "Clean up asciimaps"
The functionality in utils/asciimaps.py has been pretty brittle, and difficult to extend and debug, and frankly pretty error prone to use. We've been talking for a while about perhaps taking another stab at the problem, so I am making this ticket to get it out there as a thing to do. I think a lot of the complexity stems from modelling the problem with a bunch of classes, which have pretty abstrac

[2021-10-07 16:52] youngmit commented on #360
I just created #436 , which is actually pretty related to this problem, and might make for a good issue for you. Essentially, we have these "asciimap" classes that we use to map from our text input files to our internal Grids system and back out again. The classes are pretty complicated, and have always been a pain to debug/extend, and we could use some help cleaning them up, or even a clean-sheet

[2021-10-07 16:53] youngmit commented on #436
@davis8dd think you'd be interested?

[2021-10-07 17:04] youngmit opened #437 "Asciimap implementation for full hex, flats up is broken for ij to ascii"
The tests pass, because they dont actually create a new asciimap object for testing the round trip. Instead it re-uses the indices that come from reading the ascii form in the first place. Changing the test to look more like this exposes the issue:
[code]

[2021-10-07 18:25] keckler opened #438 "Non-deterministic ordering of printed component attributes"
I am writing ARMI cases programmatically, and then as each case is created, using the `writeInputs` method to print the blueprints file. I happened to notice that each time the blueprints file is written, the ordering of written component attributes (i.e. material, temperature, dimensions) changes, even when nothing has changed between the cases. Even if I just write the same case twice by executi

[2021-10-08 06:07] ntouran commented on #437
Can replicate. I made the suggested update to the unit test on https://github.com/ntouran/armi/tree/fix-fullhex-437

Running gives (updated format)
[code]

that's roughly the top sixth of the full hex.

[2021-10-19 17:06] keckler opened #447 "No documentation on how to build grids/facemaps"
The [page in the docs](https://terrapower.github.io/armi/user/inputs/facemap_file.html) describing the facemap input file does not describe how to build the facemap itself. Rather, it links to an example elsewhere in the docs, but that example is not very instructive. Particularly for a hexagonal map it is not straightforward to build one of these facemaps.

As a taunt, the docs say "GUI utilities

[2021-10-20 18:14] youngmit opened #450 "Remove references to geom files in the code"
Back in the day, we used to specify core layout in what was called a facemap or geom file. While we retain the code that supports this input mechanism (see https://github.com/terrapower/armi/blob/master/armi/reactor/systemLayoutInput.py), it is mostly there to enable the migration performed here: https://github.com/terrapower/armi/blob/190c0caccfd36a0442118a1ae666c2a20c52a4d1/armi/reactor/blueprin

[2021-10-20 23:01] keckler opened #451 "Add setting to turn off blocks/components being auto-flagged as DEPLETABLE"
Right now, a block (or component) that is _not_ flagged by the user as `DEPLETABLE` will be auto-flagged by the code as DEPLETABLE if it contains an isotope/element which has been set `burn=True` in its `nuclideFlag`. This makes it so that blocks/components that a user may not have intended to deplete will be depleted. Apparently the only way to override this behavior is to explicitly assign a fla

[2021-10-25 22:21] keckler opened #455 "Request: More gracefully tell the user which isotopes are missing"
When ARMI detects that an isotope in the burn chain is missing from the nuclide flags, it prints a warning like:
[code]
However, often after the necessary isotopes have been added to the nuclide flags and the code is rerun, ARMI again complains that _other_ isotopes are missing. In this particular example, I added the Pa isotopes that were indicated as missing only to now get the following error:

[2021-10-25 22:28] keckler opened #456 ""Run will fail" lie"
When building inputs programmatically, it is possible for ARMI to warn you that the run will fail because you don't have a blueprints file. For instance, I am adding cases to a suite and running the suite without having ARMI write out the resulting input files. In this case, ARMI says:
[code]
That's fine, and if I say `YES` I get another warning:
[code]
This second warning is a lie, because the ru

[2021-10-27 02:08] #456 closed, assigned to john-science

[2021-10-29 18:10] keckler commented on #455
In relation to Barry's comment, Serpent has a similar feature. In Serpent, you specify a given cell as depletable, and all isotopes in the cell are depleted through the entire burn chain, with isotopes below certain thresholds omitted from the burn chain. In the case of Serpent, I think it is less clear what is going on under the hood, though, because clearly it is making some judgments on what pr

[2021-10-29 21:28] ntouran commented on #455
From the historical perspective, ARMI's depletion module was created as a direct drop-in replacement for REBUS with some additional capabilities. Thus, it definitely has all the limitations descended from REBUS as well.

I agree that it is not user friendly for people who do not want to hand-craft their transmutation chains (everybody?). To be fair to it, on the plus side, it's explicit (no black

[2021-10-29 21:32] ntouran commented on #455
I should mention that the REBUS method with lumped fission products is dramatically more memory and cpu efficient than the "track everything in every cell" approach. Yes you can run Serpent or origen and deplete every single pin in a core, but that requires a large supercomputer and lots of time. Our runs typically deplete every block in 3D and can run on one or two CPUs. So it's just a different

[2021-11-02 16:23] youngmit commented on #438
This is something that we used to do, but stopped when we declared minimum sorry for python 3.6, which switched to deterministic dictionary ordering. However, sets may still be ordered stochastically.... 🤔 Might be that something is getting put into a set. It's that maybe something you are doing in your blueprint generation?

[2021-11-02 17:02] keckler commented on #438
I do not use sets in my scripts that generate the blueprints.

But I did a quick scan through `yamlize` and found that it uses sets in a number of places:
- https://github.com/SimplyKnownAsG/yamlize/blob/master/yamlize/maps.py#L12
- https://github.com/SimplyKnownAsG/yamlize/blob/master/yamlize/objects.py#L211
- https://github.com/SimplyKnownAsG/yamlize/blob/master/yamlize/objects.py#L211
- https:/

[2021-11-02 17:47] keckler commented on #455
I agree with everything you are saying, and knowing that the ARMI module descends from REBUS makes complete sense.

I think adding the "helpers" that you mention would be a huge benefit and would likely address my complaints for the majority of cases. My only additional hope would be the possibility that the user does not need to explicitly select _any_ of the burn chains when building inputs for

[2021-11-04 20:57] john-science commented on #410
@youngmit  What is the status of this?

[2021-11-04 21:50] keckler opened #461 "No warning on unused/bogus case settings"
A user is able to to put a setting into the case settings that is not used anywhere during a run without being warned. There are (at least) two situations where this could be important:
- Similar to #402 , this could allow typos to go unnoticed if the user simply made a mistake in typing the name of the setting, but the setting has a default behavior when it is actually called
- The user typed a v

[2021-11-08 22:29] jakehader commented on #461
Hi @keckler, are you seeing the issue where you put an invalid setting in the YAML input and it just allows this to exist without any warning or are you particularly interested in the plugins/framework reporting if the setting that is input never triggers any lines of code to execute?

If you are interested in the first part, that should be relatively straight-forward to check. I would assume that

[2021-11-08 22:51] jakehader commented on #455
@keckler, I think that if we were to have a way to represent the Chart of Nuclides in memory better (see https://github.com/terrapower/armi/discussions/460) then there could be helpers that are built onto that to help generate both the `decay-chain` input file as well as a set of active/burnable nuclides you want to consider for any given analysis.

It would be nice to be able to visualize and dra

[2021-11-09 15:38] keckler commented on #461
I am definitely most interested in the first case that you list, where an invalid setting is unnoticed.

Sorry, I should have put an example case up. An example using a standard case settings file is [attached here](https://github.com/terrapower/armi/files/7506017/tutorial.zip), where I added the setting `THIS_IS_A_FAKE_SETTING: True` to the case settings. I don't see any warning or mention of thi

[2021-11-10 17:11] youngmit commented on #402
I think the trickiest aspect of this is that we end up passing all of the material modifications for an assembly to all of the materials that make up the components of that assembly. So checking if a material modification is unused isnt as simple as making sure that all of the passed modifications are supported by any material. It is valid to pass an unsupported modification to a material; we just

[2021-11-10 18:48] youngmit opened #470 "Fix coverage check"
Code coverage reporting to coveralls is busted. seems like it has something to do with incompatible versions of the coverage package and the coveralls package which does the posting to coveralls.io. We need to either fix the coveralls reporting somehow, or move to another system. @john-science pointed out codecov.io, which in his experience has been more stable. Worth investigating.

[2021-11-11 00:34] keckler opened #471 "Check on uniform mesh generator uses stale data"
[One of the checks to confirm that the uniform mesh generation has been done correctly](https://github.com/terrapower/armi/blob/master/armi/reactor/converters/uniformMesh.py#L351) uses stale data, and thus improperly fails.

In particular, when a reactor changes power between cycles using the `powerFractions` case setting, the check will improperly fail on the first node of the second cycle becaus

[2021-11-11 00:35] keckler commented on #471
Working on a fix.

[2021-11-11 19:13] keckler commented on #471
[Here](https://github.com/terrapower/armi/files/7522734/example-case.zip) is an example input suite that will trigger this failure with the current code, but will run with the fix implemented in #472 .

[2021-11-11 20:50] john-science commented on #471
Well, it's not a lot of code for a test. But it _does_ require a lot of input data, which is a bit much.  Shucks.

[2021-11-11 20:52] #471 closed

[2021-11-12 00:11] youngmit opened #473 "Make NuclideBases not global"
The directory in `nuclideBases` is global, which leads to considerable pain:
 - Import order is very sensitive, and lots of things have to happen at import time, and cant happen again or else 💥.
 - The actual contents change when a burn chain is imposed, which is really case dependent and can only happen once, or else 💥
 - Some code changes the LFP properties, and these changes probably don't surv

[2021-11-12 00:15] youngmit opened #474 "Resolve issues with nuclides management"
A handful of tasks already exist which raise issues with the nuclide bases system, which can all be addressed somewhat in tandem:
 - Global state is bad: #473
 - Nuclide settings shouldn't be in Blueprints. We shouldn't lose sight of the fact that this is essentially the __only__ reason why blueprints are **needed** throughout ARMI for anything other than building a Reactor model from input, or wh

[2021-11-12 00:42] john-science opened #475 "Setting.__getstate__ interacts with __copy__ and __deepcopy__"
Essentially, right now, if you do this `deepcopy(Setting())`, the `Setting()` object will lose it's `self.schema` and `self._customSchema` attributes.

This is because of a subtle interplay with the `Setting.__getstate__` method, that was meant to only affect un/pickling a `Setting` object, but due to an interaction inside the standard library, accidentally squashes  a `copy(Setting())` or `deepco

[2021-11-12 00:43] john-science commented on #475
@jakehader  Who found this bug in iPython, reported it, and worked through identifying the cause with me.

[2021-11-12 16:25] john-science commented on #438
Well, looking at @keckler 's references above, this seems like a problem that would be significantly easier to fix in `yamlize`.  We could subclass a million things, and try to fix the API in `armi`, but I am doubtful that would be any fun.

I will give this a whack and try to fix this in `yamlize`.  It might turn out to be quite easy to fix. But fixing the ordering might turn out to have side-eff

[2021-11-12 16:55] john-science commented on #438
I have opened a ticket for deterministic ordered in `yamlize`: https://github.com/SimplyKnownAsG/yamlize/issues/12

And I will probably do the work myself, I'm just not absolutely certain I see all the places changes would need to be made. Yet.

[2021-11-12 17:13] #475 closed

[2021-11-12 17:14] john-science commented on #470
Just FYI.

Coveralls fixed the issue and it is working again.

I'm not 100% sure we won't hit problems with them again moving forward, so maybe we still need to try codecov.io.  I'm thinking about it.

[2021-11-13 15:49] john-science commented on #438
Hey, @keckler, can you send me an example or two of this problem?

You can do it via email, or whatever, so it doesn't have to be cleaned up for public consumption. But I want something to test against.  The `yamlize` project does actually have a lot of tooling for keeping the ordering sound. (Those sets above aren't used in the ordering in the library.)  So there are going to be some finer points

[2021-11-15 15:14] keckler commented on #438
Yeah, I will send you something via email. Sorry about there not being one in the first place.

[2021-11-16 00:34] john-science commented on #438
I have a unit test that demonstrates this bug:

https://github.com/john-science/armi/commit/b075b5719cc0ef9d555e863fe3c8cbf1ed396a56

Essentially, the test always fails, but it wouldn't if we had deterministic ordering.

In particular, the attributes of the given block are printed in a different random order every time I run the test.

[2021-11-19 06:50] ntouran opened #479 "Eliminate the 429 "duplicate object description" warnings in doc build"
If you build the documentation:

[code]
You'll see that this message shows up 429 times. (Once for each object in armi?)

This is likely related to https://github.com/sphinx-doc/sphinx/issues/8664 and https://github.com/sphinx-contrib/napoleon/issues/30 since we do use napolean and apidoc

If we get rid of these, the number of our doc warnings will be *dramatically* reduced from 542 to 113!

[2021-11-19 06:51] ntouran commented on #479
I tried the trick from https://github.com/sphinx-doc/sphinx/issues/8664#issuecomment-757087741 and wiped out the `.apidocs` folder but still saw the warning. Not sure if I did it right or what, or if the env variable got passed appropriately down through the make file. Warrants more investigation for sure.

[2021-11-19 18:07] ntouran opened #481 "Figure out why obj's subclassing yamlize things have doc error: `Inline emphasis start-string without end-string. `"
In building the docs, almost things that subclass from yamlize objects show up with an warning along the lines of:

[code]

But the strange thing is that this object has no docstring at all!

[code]

And, by inspection, no docstring seems to be getting added at runtime:

[code]

So, what's going on!?

[2021-11-19 18:41] ntouran commented on #481
Ok so I think what's happening here is that the autodoc is combining the class docstring with the `__init__` docstring, which is inherited from here: https://github.com/SimplyKnownAsG/yamlize/blob/040c5cb70d8717b75022cb821e5acb7cad2606e6/yamlize/maps.py#L63 and which appears to be goofing up based on the `*args` thing which looks to sphinx like the start of italics with no ending.

[2021-11-20 06:08] ntouran commented on #481
Cool so the fix for this is merged in yamlize. This issue will go away if we install the latest yamlize from the master branch (pending next release to pypi).

[2021-11-20 06:08] #481 closed

[2021-11-20 19:12] john-science commented on #479
@ntouran I think I have resolved this ticket as part of my doc PR here:  https://github.com/terrapower/armi/pull/483

[2021-11-20 23:16] #470 closed

[2021-11-22 16:46] #479 closed

[2021-11-22 22:31] john-science commented on #461
@keckler  I really like your note about unused material modifications, but I'm not sure we want to support this, more general, unused settings.  There are numerous settings in the settings file that pertain to just individual plugins.  And while some of those could be moved INTO that plugin, that would be a rather big lift to make happen.  And what if someone wants to do a partial run through only

[2021-11-22 23:22] john-science commented on #371
A note on progress.  We are 75% of the way through making settings immutable.  Much progress was made.

The major thing left to do is remove the fact that someone sneaky can still do:  `cs['mySetting'] = 1` as long as `cs['mySetting']` already exists and has some value.

I initially thought this would be a minor change, but _whoa_ was I wrong. This breaks half the unit tests in ARMI, and I have pe

[2021-11-23 20:55] keckler opened #487 "Missing parameters in `findAssembly` docs"
The [table](https://github.com/terrapower/armi/blob/master/doc/user/inputs/fuel_management.rst#choosing-assemblies-to-move) in the docs that outlines how to select specific assemblies using the `findAssembly` method is incomplete. It is missing parameters which are accepted by `findAssembly` (see [here](https://terrapower.github.io/armi/_modules/armi/physics/fuelCycle/fuelHandlers.html#FuelHandler

[2021-11-23 22:27] ntouran commented on #487
Yeah we might want to just delete that table entirely and link to the auto-generated docs based on the docstring: https://terrapower.github.io/armi/.apidocs/armi.physics.fuelCycle.fuelHandlers.html#armi.physics.fuelCycle.fuelHandlers.FuelHandler.findAssembly

[2021-11-24 16:31] #487 closed

[2021-11-24 20:00] john-science opened #490 "Grid Editor - Problem Saving Core Map"
@jakehader Reported this bug: given the right conditions (which are common), the grid editor is failing to write output files.

## Steps to Reproduce the Bug

1. From the current "master" branch, open the grid editor on the command line: `$ armi grids`
2. Load this blueprints YAML file: [test-full-bp.zip](https://github.com/terrapower/armi/files/7598401/test-full-bp.zip)
3. Hit the buttons "Expand

[2021-11-24 20:03] john-science commented on #490
@youngmit  Before I spend too much more time on this, do you happen to understand the issue?  I know the bug entered the codebase during the above PR, and that PR _did_ hit [gridEditor.py](https://github.com/terrapower/armi/pull/439/files#diff-f5b03b844708a59fd3cbeb46d1667a49ca885ba8bbfb3e22a4de20c6554d1f8d).

If nothing jumps out at your immediately, I'll start debuggin.

[2021-11-24 21:37] scottyak commented on #246
Perhaps [Awkward Array](https://github.com/scikit-hep/awkward-1.0) can help? From their README:

...

`awkward` seems to be well-maintained with a strong community around it. If it's ok to include `awkward` as a dependency, I think the next step would be for someone to try porting the pure-Python logic over to `awkward`.

How does that sound?

[2021-11-24 21:43] jakehader commented on #490
PR #440 might also be influencing this behavior (@ntouran) with incorrectly writing the full core hex geometry.

[2021-11-24 22:08] scottyak commented on #436
Question -- I'm considering using [dataclasses](https://docs.python.org/3.7/library/dataclasses.html) as an implementation detail (since [`__post_init__`](https://docs.python.org/3.7/library/dataclasses.html#post-init-processing) is nice), but it is only available from 3.7 onwards. I suspect that's okay, since the latest release of ARMI appears to be tested against 3.7, 3.8, and 3.9 but not 3.6: h

[2021-11-24 22:20] jakehader commented on #246
@john-science / @ntouran - Good video on `awkward` https://youtu.be/WlnUF3LRBj4

[2021-11-24 22:31] jakehader commented on #436
I think it's a fair assumption that most users have Python 3.7+ internally at TerraPower, but I cannot speak for all external users. Right now the installation docs do state Python 3.6+ even though the setup.py is broken.

[2021-11-24 22:40] jakehader commented on #461
This seems like a bug to me. I don't think the case should necessarily fail, but warnings of extra settings being provided in the YAML file should be made. I'll look for where this is happening and see how the `cs` object is being constructed from the YAML data.

[2021-11-24 23:05] scottyak commented on #436
It seems, then, that either release v0.2 should be tested on python 3.6 (since it seems like it currently isn't), or that setup.py and the release doc should be updated to say it requires >=3.7 ?

I think dropping python 3.6 support might not be a terrible idea -- if someone is using python 3.6, they could depend on the previous release. Since release v0.2 was only 5 days ago, it seems unlikely th

[2021-11-25 15:29] john-science commented on #246
@scottyak  @jakehader  Thanks for the library idea! I'll check it out.  My primary concern is performance here, if it performs well against NumPy, than this is great.  My second question, of course, is how big a lift it will be to put in the code base; is it a drop-in replacement, or a huge change.  So I'll have to look at that.

Thanks for the info!

[2021-11-25 18:59] scottyak commented on #246
Awesome! If you don't see any obvious problems, I might be able to get a
draft PR out next week.

On Thu, Nov 25, 2021, 10:29 AM John Stilley ***@***.***>
wrote:

[2021-11-25 22:41] jakehader commented on #436
@john-science - maybe we can hot patch the v0.2 release to enforce 3.7+? I don't see a reason why we need to support 3.6 at this time.

[2021-11-29 15:33] ntouran commented on #490
If you determined that the bug entered at #439, don't we know it's not #440?

Also, are there any error messages or anything?

[2021-11-29 20:27] john-science commented on #490
@jakehader  @ntouran   I am fairly sure the bug entered the master branch at PR #439

[2021-11-29 20:35] john-science commented on #436
@jakehader @scottyak  My preference is to only support Python 3.7-3.9, as those are really the only versions that we test for seriously. And while I'm generally a fan of supporting a wide breadth of versions for an importable library... I don't know, I think for a scientific modeling framework I'm more in favor of constraining the versions to be better tested.

Let me ask around, and see if anyone

[2021-11-29 22:07] john-science commented on #436
@jakehader @scottyak  It looks like no one is using Python 3.6 anyway.  Nick is hesitant to drop support for 3.10, so I _think_ saying we support Python 3.7+ is a pretty safe bet for everyone.

[2021-11-29 22:14] john-science commented on #246
@scottyak  Sure, go for it!

If this is more of a drop-in than some giant replacement, this could be a huge win.

My guess is that we would only need to use this library at the places where we are writing TO H5 files, but potentially we would also need to isolate all the reading FROM cases as well.

Either way, we don't need to replace all NumPy math in the repo with such things, just those places

[2021-11-29 22:24] john-science commented on #461
@jakehader The name of that method _is_ enticing. But that method is only being used when reading XML files, not YAMLs?  That's... odd. Also, the method has no docstring, so give me a bit to see if what it really does.

[2021-11-30 00:15] john-science commented on #354
@keckler  Is this ticket complete?  I see a PR has been merged for it.

[2021-11-30 01:03] john-science commented on #6
I wouldn't mind moving the GUI to a static JavaScript web browser tool.  We could keep the current workflow, where it is spawned via the same commandline, and it doesn't require a running service.

But it seems like it would be easier to build and test a UI via browser. Just an idea.

[2021-11-30 01:03] john-science commented on #133
I wouldn't mind moving the GUI to a static JavaScript web browser tool.  We could keep the current workflow, where it is spawned via the same commandline, and it doesn't require a running service.

But it seems like it would be easier to build and _test_ a UI via browser. Just an idea.

[2021-11-30 01:27] scottyak commented on #133
For one, UI testing in a browser would have a lot more resources on stack
overflow and have better support in Travis :) It might be a good thing to
do in the long term, provided users are fine with requiring a browser
installation to run the GUI.

But wouldn't that involve rewriting everything that's currently written in
wxPython, though? The HTML5 canvas API might be similar enough, but it
would

[2021-11-30 01:57] jakehader commented on #490
This is where the error that occurs from catching a generic exception - https://github.com/terrapower/armi/blob/b94744fdf12f247828dd07bf99e251651b494a13/armi/reactor/blueprints/gridBlueprint.py#L592

I believe it has to do with some rows in the dictionary having only separators `'-'` and then it fails to write the lattice map. This used to then default to writing the grid contents if the lattice m

[2021-11-30 15:21] keckler commented on #354
No, I don't think this ticket has been worked at all. The PR that was merged was for a related, but separate, issue. So still wide open.

[2021-11-30 16:04] jakehader commented on #436
@scottyak, the 3.6 requirement has been removed in #491.

[2021-11-30 17:04] john-science commented on #246
Okay, the version in `setup.py` has been bumped to 3.6+.  And everyone seems okay with it.

[2021-11-30 17:11] scottyak commented on #246
I think you meant 3.7+, and yes, thank you!

[2021-11-30 19:13] ntouran commented on #400
@jakehader  can you make a separate issue for that last request?

[2021-11-30 19:13] #400 closed

[2021-11-30 19:16] john-science commented on #461
I am working on a PR for this.  It may not be a _complete_ solution, but it seems to be catching fake settings when I add them.

In fact, my major concern is not that my solution won't work, but that finishing this ticket will break someone's workflow.

[2021-11-30 19:25] ntouran commented on #354
In order to accomplish this ticket:

* we need to make a new rst file called `doc/user/component_parameters_report.rst`
* In this file, we should add code along the lines of that in [here](https://github.com/terrapower/armi/blob/b709d3450f6b7a89376abed3a2bf9107bcfe39f2/doc/user/reactor_parameters_report.rst), but that loops over all subclasses of `Component` in the code and makes tables for each s

[2021-11-30 19:29] ntouran commented on #455
Yeah I'm tempted to close this for now and let the discussion in #460 pan out.

BTW @jakehader we can [visualize the active decay chain.](https://terrapower.github.io/armi/gallery/framework/run_transmutationMatrix.html#sphx-glr-gallery-framework-run-transmutationmatrix-py) Guess we would make that a convenient util or something in neutronics.

[2021-11-30 19:34] ntouran commented on #18
I'm going to close this now as wontfix until it becomes an issue again just since it's pretty low priority.

[2021-11-30 19:34] #18 closed

[2021-11-30 19:54] john-science commented on #133
@scottyak  Yes, the switch to a browser-based solution would be a complete re-write. That's definitely the down-side.

I am just looking at this "test the GUI" PR that's been open for ages: https://github.com/terrapower/armi/pull/244

And we do want to be able to test the GUI.  Is it unmaintainably hard to test as-is?  I don't know. If so, that's a problem.

Just thinking aloud.

[2021-11-30 21:17] jakehader commented on #490
Fix in #494

[2021-12-01 01:08] ntouran commented on #490
Ok so we still do get an exception when we run the reproduction example but with the exception no longer being hidden:

[code]

This is very likely coming from `asciimaps._updateDimensionsFromData`. That may help us find the root cause.

[2021-12-01 14:34] john-science opened #498 "Bug Found in buildRingScheduler"
While trying to build some code coverage tests, I wrote this test of `FuelHandler.buildRingScheduler()`:

[code]
Notice the strange jump from 10 to 2.

At a guess, perhaps the problem is here:

https://github.com/terrapower/armi/blob/b94744fdf12f247828dd07bf99e251651b494a13/armi/physics/fuelCycle/fuelHandlers.py#L1186-L1190

Perhaps this is meant to be: `elif jumpRingTo is None:`.

[2021-12-01 17:28] #461 closed

[2021-12-01 19:07] #490 closed

[2021-12-01 19:23] ntouran commented on #498
Weird for sure but this may not be a bug. this comes from the fact that the `refSmallCoreGrid.yaml` has 9 rings in it, and so jumpRingTo is set to 9 from `core.getNumRings()`.

Should the thing just fail if you put a charge or discharge ring number that's greater than getNumRings? Maybe. But that can be a pain e.g. if you are param sweeping on number of rings and want to use it as e.g. an overlay.

[2021-12-01 22:34] davis8dd commented on #406
Would it be overkill to refactor **pathTools** to rely completely on mpi4pi for file I/O?

[2021-12-01 23:08] john-science commented on #406
That might be slightly problematic, as `mpi4py` is not a mandatory requirement:

https://github.com/terrapower/armi/blob/8cc5bce4e6c4f8c8a34df0761eac426c10666603/setup.py#L75-L76

The system is designed so someone can run little cases single-threaded on their laptop, without needing to install the Fortran MPI libraries.

That being said, `pathTools` could behave in more cleaver ways if MPI is pres

[2021-12-01 23:48] ntouran opened #504 "Allow components to be input outside of a block in blueprints"
For lots of reasons (e.g. [this discussion](https://github.com/terrapower/armi/discussions/503), we'd like to be able to define components in a components: root level in the blueprints rather than just inside blocks.

:warning: This is a hard task

Complexities and questions:

* This will require updating the is3D logic and having explicit height included on "2D" components.
* We will need new syn

[2021-12-01 23:53] ntouran commented on #228
I brought in a discussion we've been having internally for some time here: #503, which might be relevant.

[2021-12-02 00:52] ntouran commented on #504
I'll take a stab at this and get a branch going to be collaborated on with @john-science

[2021-12-02 21:16] sombrereau opened #506 "Add a public source for fission product composition"
A new public source needs to be found for lumpedFissionProducts.dat so it can be open sourced.

Some literature:

[Fission Product Nuclear Data (1973) is a 300 page pdf](https://inis.iaea.org/collection/NCLCollectionStore/_Public/06/197/6197946.pdf) of proceedings saying they need more nuclear data. No good.
[Sensitivity of the Lumped Fission-Product Model to Different Fission-Product Cross-Sectio

[2021-12-03 00:47] #506 closed

[2021-12-04 21:19] jakehader commented on #451
I agree that this can be improved and I like option 2. Ultimately, I'd like to see the the removal of the nuclide flags in the blueprints and have these moved to settings or represented in a different way.

For now, making a global/setting that can disable auto assigning the depletable flag to components is pretty straightforward. Want to put in a PR for this?

[2021-12-06 18:09] keckler commented on #451
I can do it, but would like to hear what @ntouran and @john-science have to say first.

[2021-12-06 19:40] scottyak commented on #246
Unfortunately, I wasn't able to work on this issue this past week, and probably won't be able to for a foreseeable time :(

[2021-12-06 19:59] scottyak commented on #133
Working on a notebook-based approach for rewriting the GUI. Stay tuned.

[2021-12-07 05:33] john-science commented on #451
## Question 1

Sorry, what? I don't follow that.

## Question 2

Sorry though, I do not full understand why we want to stop depletion? Isn't this... modeling real physics in the reactor? Why would we want to spend all this effort to make the model less physical?  Honest question.

## My Opinion

As for the options above, I think (1) is not sufficiently different from the current situation that we

[2021-12-07 15:42] keckler commented on #451
My understanding of what @jakehader means is this -- Right now ARMI will spawn flags for components/blocks/assemblies based on their names. So an assembly called `fuel assembly 1` will get a `FUEL` flag and an assembly called `primary absorber assembly 2` will get a `PRIMARY` flag, whereas an assembly called `assembly 1` will not get any because it doesn't have any special keywords. I think he is

[2021-12-07 16:01] scottyak commented on #133
We are considering adding [NotebookJS (MIT license)](https://github.com/jorgehpo/notebookJS) as a dependency. It essentially allows Javascript callbacks to call Python functions, which is exactly what we want. From reading the code, I find the NotebookJS approach pretty elegant. Even though it's a one-person project, I feel okay with it, since the code looks rather straightforward (~500 lines). In

[2021-12-07 16:10] bmingst commented on #451
Embedding functional information into a name field has the drawback that the name used will sometimes need to be different than the name used in the reference documents – especially if the documents are from non-English speakers. I like the idea of a setting to turn off auto-generation of flags.  This would prevent unintentional flag settings based on block names and keep some backward compatibili

[2021-12-07 19:30] davis8dd commented on #406
I'd like to try adding separate strategies for when MPI is/isn't present, but it's taking me a while to update & run **test_mpiActions.py** outside of tox.  If this needs to be fixed in a more timely manner please feel free to take it.

[2021-12-08 14:30] john-science commented on #133
You're right that it's a very small project. But I like that it is well documented. It has an [IEEE article](https://ieeexplore.ieee.org/document/9391750) and a [blog post](https://ieeexplore.ieee.org/document/9391750). It's MIT licensed, which I like. And as long as we only use it to import MIT licensed tools, we're good.

On balance, it seems like a good choice. Can't wait to see what happens!

[2021-12-08 22:16] drewj-usnctech opened #509 "git describe in repo with no tags produces fatal error message"
https://github.com/terrapower/armi/blob/72dd0724278a31fe7b843a1e56db1c7f8ac04f60/armi/bookkeeping/db/database3.py#L638
can produce an ominous message if running in a repository that doesn't have any tags
[code]

This can be demonstrated with
[code]
Fix appears to be piping stderr to `/dev/null` like
https://github.com/terrapower/armi/blob/72dd0724278a31fe7b843a1e56db1c7f8ac04f60/armi/bookkeeping/d

[2021-12-09 00:44] john-science commented on #509
We have 8 tags in the repo, currently:  https://github.com/terrapower/armi/tags

[2021-12-09 00:46] john-science opened #511 "trackAssems should be False by default"
The default behavior for `trackAssems` should be turned to `False`:

https://github.com/terrapower/armi/blob/08e276833069478e8dd6c40c0dcbedf1e5de3456/armi/settings/fwSettings/globalSettings.py#L606-L612

The code change is obviously minor, but some work will need to be done looking around the ARMI ecosystem to make sure this doesn't hurt anyone's workflow.

[2021-12-09 01:05] ntouran commented on #511
This setting effectively turns on indefinite appending of all discharged assemblies to the spent fuel pool container. Obviously in infinitely long or large runs this inevitably fills up RAM. Long ago, we used assemblies there to track history. Today we can just read the output database from disk when history is needed within a run (e.g. to build an irradiation history for a fuel performance calc).

[2021-12-09 16:16] john-science commented on #498
@ntouran I hadn't considered the parameter sweep issues.  At the very least, I would like us to catch such edge cases and fail with a more descriptive message. But I think there is a possibility here for more error catching than we currently have.

[2021-12-09 20:46] drewj-usnctech commented on #509
Oh my apologies. Tags in the repo are not the issue. If I am running an ARMI run in another repository that doesn't not have tags, then this issue appears

[2021-12-09 23:21] john-science commented on #509
I have a fix for this. Incoming.

[2021-12-10 19:20] keckler commented on #511
If this change is implemented, I think some work will also need to be done on [`removeAssembly`](https://terrapower.github.io/armi/_modules/armi/reactor/reactors.html#Core.removeAssembly) to make its intention clear. Right now, because `trackAssems` and the `discharge` option in `removeAssembly` both default to `True`, the behavior when turning one of them to `False` is clear. But if `trackAssems`

[2021-12-13 21:27] john-science commented on #511
This is an interesting point. I hadn't seen the `discharge` option there before. So that might be a bit of a wrinkle.

[2021-12-13 23:38] #509 closed

[2021-12-15 22:14] keckler opened #513 "material modifications cannot handle different values for a key within a given block"
As described in the [docs on blueprints](https://terrapower.github.io/armi/user/inputs/blueprints.html?highlight=material%20modifications), the ability to specify material properties in a blueprint is typically through the use of material modifications, which are applied on the block level during assembly construction.

Essentially what is done is that every component in a given block of the assem

[2021-12-21 22:02] drewj-usnctech opened #514 "check-inputs entry point checks all yaml in directory regardless of existence of passed settings file"
I ran `armi check-inputs` on the most recent FFTF model terrapower/fftf-isothermal-model@793fd8ec1a494b0254bdac61f9b145837c6b41ca with terrapower/armi@47d3cc77b3f24540fcf6ae56be6c0e34b397604e
and got the following output
[code]

Even though I passed a settings file, ARMI still tried to check all `*.yaml` files. If I passed `FFTF.yaml FFTF.yaml` as the settings and patterns arguments, then only the

[2021-12-21 22:59] jakehader commented on #514
The reason this is happening is because the suite.discover method is being called regardless of what input is being provided. This should be changed to accept specific settings file paths OR a pattern to discover - see: https://github.com/terrapower/armi/blob/04526a658dcf59ba1e29c4613374fe23624d33f2/armi/cli/checkInputs.py#L126

[2021-12-23 19:51] keckler opened #515 "`_checkParamConsistency` not being used in `AssemblyBlueprint.construct()`"
There is a method inside of the `AssemblyBlueprint` class called [`_checkParamConsistency`](https://terrapower.github.io/armi/_modules/armi/reactor/blueprints/assemblyBlueprint.html#AssemblyBlueprint._checkParamConsistency), which is supposed to check that an assembly blueprint has the same number of mesh points, heights, xs types, and material modification entries as there are blocks. This is cal

[2021-12-24 02:07] jakehader commented on #515
Thanks for the ticket @keckler. I think that you're right that swapping the order of `_checkParamConsistency` before `_constructAssembly` is called is probably what we need to do.

[2021-12-25 19:59] john-science opened #516 "MPI Unit Tests not working"
We have several unit tests that are supposed to use our parallelization library (MPI) but have been deactivated for a year now, e.g.:

https://github.com/terrapower/armi/blob/3bfaa328299e7c672ab852c1c2bab314149976d5/armi/operators/tests/test_operators.py#L128-L130

Since this library is an optional requirement, we don't want to run them all by default (for developers who don't want to do the big,

[2021-12-27 19:50] keckler commented on #513
I am working on a fix for this.

[2021-12-27 22:48] keckler commented on #515
@jakehader You might want to wait until #513 is fully resolved. I made a change to the dict holding the material modifications, and so this method was also updated. Likely won't conflict much, but just FYI.

[2021-12-28 08:38] jakehader opened #518 "ARMI Application Sphinx Build Error with ARMI Logger"
The ARMI framework documents can be built using the `make html` command within the `doc` directory. When building the documentation using Sphinx, it imports the ARMI `RunLogger` during the process. Once ARMI's logger is imported and configured then the logging is performed from then on with this logger rather than with Python's standard logger.

A problem arises if any errors are generated from Sp

[2021-12-28 18:39] ntouran commented on #518
I believe the sphinx logging API is designed to help alleviate these issues and decouple logging from things like ARMI's logging. https://www.sphinx-doc.org/en/master/extdev/logging.html

[2021-12-28 18:42] ntouran commented on #518
That said, the addition of `extra` as done in #519 does seem reasonable

[2021-12-28 19:42] jakehader commented on #518
That is true up until our logger gets configured and then it takes over has the base logger that gets initialized on the Sphinx Adapter after the `getLogger` method is called. I'm trying to figure out why out logger is being configured in my application, but no luck so far. I am think it could be from building the API docs.

[2021-12-29 02:57] ntouran commented on #518
Is there an easy way to replicate this using the framework docs? Like if I just raise an exception in a docstring or something will I run into this issue?

[2021-12-29 17:52] keckler opened #520 "Need some checks on the class1/class2 material modifications"
For materials derived from the [`FuelMaterial` class](https://terrapower.github.io/armi/_modules/armi/materials/material.html#FuelMaterial), a user can blend two materials together using the class1/class2 material modifications (see [here](https://terrapower.github.io/armi/user/inputs/blueprints.html#assemblies)). The `applyInputParams` method used to accomplish this could use some checks on the m

[2021-12-29 20:22] keckler commented on #520
Also pointing out that this is different from #402. In that case it was the material modification key that leads to the problem, whereas in this case it is the value. In this case, the material modification names `class1_custom_isotopics` and `class2_custom_isotopics` are valid and will trigger ARMI to go off and do something, but the problem occurs because ARMI can't properly handle the supplied

[2021-12-29 23:27] john-science commented on #516
Okay, I can get our MPI tests to run under GitHub Actions.  I got them running again and fixed several quite annoying issues.

But.

After much deliberation, it does not seem feasible to report code coverage for MPI-based tests. The problem is that MPI runs different Python processes, and each one of those processes reports their own code coverage. And, sadly, the different processes all report di

[2022-01-04 01:23] drewj-usnctech opened #522 "Checking app version from command line reports ARMI version"
If I have an ARMI app with it's own name and version, say `demoapp`, and I run `demoapp --version` from the command line, the entry point prints the ARMI version, not the app version due to

https://github.com/terrapower/armi/blob/52edeb31ef44bddb77753beda7486491bf691081/armi/cli/__init__.py#L126-L136

`armi.context.APP_NAME` is modified with something like `armi.configure(DemoApp())`
https://gith

[2022-01-04 14:20] john-science commented on #522
My first thought is you can fix this by subclasses `ArmiCLI`, by simply leaving the entire `ArmiCLI` class (as in your first code snippet above) but changing the one line in the `__init__` method to include your `DemoApp.__version__`. That would solve your problem.

But. More importantly. Even if you _could_ do the above, I'm not sure you _should_.  Here me out.  I think no matter how awesome your

[2022-01-04 22:35] john-science commented on #522
Hey @drewj-usnctech ,

The way we handle this in-house is to print two different versions at the start of our internal runs:

[code]

The idea here is that, at the very least, we want to know the version of ARMI, but _also_ the version of our `App()`. Does that make sense?

I just looked around for what different people in-house are doing, and they are all printing both versions at the top of thei

[2022-01-04 23:38] keckler commented on #515
Gonna take this one myself.

[2022-01-05 00:17] keckler commented on #515
This is addressed as part of #517 .

[2022-01-05 00:18] keckler commented on #515
Also, unit tests are added in #517 to confirm that the change took effect and that the method works.

[2022-01-05 15:37] keckler commented on #520
It seems like both checks could be put straight into the `applyInputParams` method of the `FuelMaterial` class. If that were the case, then the checks would run at the beginning of a case when the block blueprints are constructed. One set of checks for every `FuelMaterial` component in each block blueprint. So it's not like the check would be called at every burn step, or even at every burn cycle.

[2022-01-06 14:41] #516 closed

[2022-01-06 16:29] drewj-usnctech commented on #522
Fully agree. This is super important for revisiting older runs and aligns well with some of the `App.describe` behavior in #392.

I apologize if I haven't been able to well communicate this; it's probably best seen through an example. For some of the internal apps, can you look at the output of the command line call `app --version`? If you neglect any splash screen message that shows up, the print

[2022-01-06 20:05] john-science commented on #522
Digging into this a bit more to try and build some solutions, I have some thoughts.

I have the usual concern: other `App`s are using the current functionality, so if I change the default behavior, it will break people's current workflow.

We would need to change the `App` class to get the exact functionality you want. Right now, people can put any kind of `version`, `__version__`, or `VErsI0N` st

[2022-01-06 20:51] jakehader commented on #518
Hi @ntouran / @john-science - I figured out my issue with the logger for my ARMI application. The issue was that in the `conf.py` file for building the docs I configured the application erroneously, resulting in ARMI's `RunLogger` being setup and configured within Sphinx when building the documentation. Can you comment on whether or not you think adding the `extra` keyword is useful still? I could

[2022-01-06 21:15] jakehader commented on #518
Closing this issue with resolution of opening a "Lessons Learned" Wiki page on https://github.com/terrapower/armi/wiki/Lessons-Learned to hopefully prevent future users from this same issue. I will close out the corresponding PR.

[2022-01-06 21:29] john-science commented on #518
@jakehader I am of two minds when it comes to the `extra` change to the logger. On the one hand, maybe we should add all four of these two our logger, for future-proofing:  `exc_info`, `extra`, `stack_info`, and `stacklevel`.  Generally, that seems like a sound idea.  The (potential) down side is having to update all the downstream plugins for another logging feature that doesn't really help them.

[2022-01-07 23:47] drewj-usnctech opened #527 "Allow the GridEditor GUI to design sub-assembly maps"
If someone is trying to design a reactor with a known configuration of pins (e.g., LWR, MHTGR #224, etc.), it is very helpful to assign `latticeIDs` elements to the `ComponentBlueprint`
https://github.com/terrapower/armi/blob/498472b2b5255b7da9985b758faba2f6b2e34581/armi/tests/tutorials/c5g7-blueprints.yaml#L71-L81

The act of writing an asciimap by hand, especially for a hexagonal grid, is non-tr

[2022-01-07 23:48] drewj-usnctech commented on #527
The workaround for this is to use the GridEditor with assembly configurations mapped (in your head) to lattice ids. Then, you can export this map, find and replace from the assembly specifier to the lattice id

[2022-01-08 00:03] drewj-usnctech commented on #228
After a conversation with @ntouran @john-science (👋 @sombrereau), some requirements or considerations for development were requested.

As someone who wishes to use ARMI for particle fuel modeling, these features would be very useful (roughly decreasing order)

- [ ] Ability to model particles based on diameters as these are most likely to be provided from vendors
- [ ] Ability to model mixture of

[2022-01-10 16:31] john-science commented on #527
I like this.

This is a fine idea to support. I like the functionality, it fits within our current design goals, and it seems like a reasonable feature to maintain moving forward.

I don't _think_ this would be a big lift to change. BUT I haven't looked into it yet, to get a LOE on the work.

Does someone have time to look into the implementation time?  If not, I will try to find time to look at i

[2022-01-10 23:56] keckler opened #529 "Request: `Holed` shapes with multiple hole sizes"
Right now the [`HoledHexagon`](https://terrapower.github.io/armi/.apidocs/armi.reactor.components.complexShapes.html?highlight=holedhexagon#armi.reactor.components.complexShapes.HoledHexagon), [`HoledRectangle`](https://terrapower.github.io/armi/.apidocs/armi.reactor.components.complexShapes.html?highlight=holedhexagon#armi.reactor.components.complexShapes.HoledRectangle), and [`HoledSquare`](http

[2022-01-11 19:44] jakehader commented on #518
That's unfortunate. I assume this is because your demo app here is configuring the RunLog for ARMI. Is there a way to get around this or should we reopen this issue?

[2022-01-11 19:59] drewj-usnctech commented on #518
The app doesn't do any configuring on import. The error is also produced by directly importing ARMI instead of the demo package.

I tried doing some `MagicMock` magic, like
[code]
but that kicked some errors to `armi.bookkeeping` not existing. I imagine it's not a great plan to magic mock the entire armi package structure :/

[2022-01-13 01:20] jakehader commented on #529
I think that generalizing these components to have "n" inputs will be generally challenging as you noted above. One problem as you noted is that the `setDimension` implementation of `Component` assumes that a single dimension name/key represents a single value (i.e., a float) and it does not know how to interpret a list of floats:

https://github.com/terrapower/armi/blob/9d1aaa76eadc0eb5c4f50cf879

[2022-01-13 01:40] jakehader opened #535 "Request: Defining `Custom` material properties in the blueprints"
When using the `custom isotopics` within the blueprints file it allows a user to specify number densities or mass fractions with some specified density for defining the initial composition of the material. In this case, a user can choose to use `material: Custom` or choose to use `material: X`, where `X` can be something like `SS316` or `UO2` as an example.

When specifying `material: X`, the ARMI

[2022-01-13 02:09] keckler commented on #529
Also, FYI, I can deal without this capability. I want it and I think it would be generally useful, but I don't need anyone to go out of their way to make it happen. This probably should have been a 'discussion' rather than an 'issue', but I only thought of that after I put it here.

[2022-01-13 02:37] ntouran commented on #535
Hmm. I'm sympathetic but want to hear more. We do allow users to provide fresh or subclass materials in plugins that can be named whatever they want. For a benchmark, it might be most expressive and safest and easiest to maintain to have the specific materials of the benchmark defined as regular old ARMI materials in Python code. Making more ways to make or point to material properties in blueprin

[2022-01-13 08:09] jakehader commented on #535
I think that the challenge that I am trying to find a balance with is being able to implement "one-off" materials for benchmark/validation efforts without necessarily extending the code base of the ARMI application unnecessarily. In a sense I am trying to see how much of the existing framework/material plugin(s) can be leveraged to get the capabilities of still using a `Custom` material but with u

[2022-01-13 22:42] keckler opened #537 "Missing thermal expansion data in `ThoriumOxide` material class"
The [`ThoriumOxide`](https://terrapower.github.io/armi/_modules/armi/materials/thoriumOxide.html#ThoriumOxide) material class is missing the `linearExpansionPercent` method necessary for calculating thermal expansion of the material. Without it, the code fails if thermal expansion is attempted.

I can add it in using public sources and submit a PR shortly.

[2022-01-13 22:51] keckler commented on #535
I personally have taken the approach of piece-mealing a custom material class for situations like this.

I am working off of some documents that specify the  isotopics in MOX fuel in a very specific way that is different than how the MOX material class expects them. So I made a new material class of my own that accepts the isotopics in the way that aligns with my references, but then just derives

[2022-01-14 00:12] ntouran commented on #537
Truth. That was just a "didn't have a public source on hand" issue during the open source effort, though surely some exist. If you can find some and add that'd be wonderful.

[2022-01-14 02:21] keckler commented on #535
I guess I am cheating a little bit because what I am doing will only work for programmatically-defined models...

I have given my model into its own python entry point. So Python actually runs from the directory in which my input files live. I put my custom material classes in this same directory, so when Python runs it recognizes the modules. And ARMI automatically registers any material classes

[2022-01-15 06:23] jakehader commented on #535
I would like the idea of importing custom materials from a custom Python script, if @ntouran is OK with that.

[2022-01-15 07:55] jakehader commented on #132
Closing as a duplicate of #527

[2022-01-15 07:55] #132 closed

[2022-01-18 22:46] ntouran opened #540 "Give all ArmiObjects shape; change Blocks and Components to have shapes rather than be shapes"
Based on discussion in #503, we think we need to refactor the reactor model to allow all ArmiObjects to have a `.shape` attribute that provides dimensional information rather than getting this shape information from the Block subclasses (e.g. `HexBlock`) and the Component subclasses (e.g. `Circle`).

This will allow for more flexible model generation and code reuse.

I think we can do this major r

[2022-01-18 22:55] john-science commented on #540
I like the idea!  Do you have any guesses on what current tools adding a `.shape` would break?

I'm just asking for documentation purposes.

So we can build a LOE for this.

[2022-01-20 15:28] keckler commented on #513
Fixed with the closure of #517

[2022-01-20 15:28] #513 closed

[2022-01-20 15:31] #515 closed

[2022-01-20 16:11] jakehader commented on #535
After talking with @ntouran offline, it's not unreasonable to expand the API functionality of the framework to allow for discovery of a material plugin. I am thinking that it makes sense for this discovery feature to be optional for applications and in order to enable it, the application will have to explicitly provide a directory path to search for these custom scripts.

This differs a bit from t

[2022-01-25 01:30] drewj-usnctech commented on #518
@jakehader would it be beneficial to re-open this issue? Or create a new one with these doc build issues?

[2022-01-25 16:51] john-science commented on #518
I'm not sure I've ever seen the `mock.MagicMock` before:

https://pypi.org/project/mock/

My gut here is that I'm not sure we can support mocking the entire ARMI package structure.  The problem is when you import ARMI, code gets run. For instance, in `armi.context.py`.  And while I"m not 100% sure I love that idea, it has been a part of ARMI for like 8 years before I got on the project. And it wou

[2022-01-25 19:43] john-science commented on #529
I am not against this idea, but it would be hard to validate the user's input data.

For instance, can six holes of radius 0.85 fit inside a hexagon with maximum radius 1?  How about can 32 holes of radius 0.1?

This is known as the "knapsack problem" and relates to the "big packing problem".  It is an NP hard computational problem, and would be _very_ slow to solve, generally.

[2022-01-25 23:19] drewj-usnctech commented on #518
After some digging, I found these lines in the armi doc `conf.py`
https://github.com/terrapower/armi/blob/fd5d2dd31051206ce62696027f05a9304b499677/doc/conf.py#L187-L188

This is done after import armi, doing any `App.config`, etc. So it seems this line "undoes" the overloading of the standard library logger.

It was not clear that this line is important for building docs but adding this after any

[2022-01-26 00:53] john-science commented on #438
Okay, so this is kind of our problem.

Essentially, Yamlize is really good about deterministically ordering elements before they get written out to the YAML file.

But we go out of our way to edit the items that go into the YAML file on the fly, after Yamlize does all of it's setup and organization. For instance, in all the methods called `addDegreeOfFreedom()` in `suiteBuilder.py`:

https://githu

[2022-01-26 01:05] john-science commented on #518
Sorry, @drewj-usnctech  I'm not sure I follow.

That line is already in `armi/doc/conf.py`.  So... does the build still break, even with that line?

Sorry if I was not clear, I tried to point out the importance of that line to our Sphinx build in my comment above:

Do your Sphinx docs still not build?

[2022-01-26 01:14] john-science commented on #535
Sorry, @jakehader let me just check in to make sure I understand.

What do you mean by "discovery" here?  So far, the user always carefully defines which plugins they want in their run in the ARMI ecosystem. This is how they gain fine control over their simulations.

Also, and not for nothing, I am not a fan of "just searching in a folder for a Python file that includes a subclass of something". I

[2022-01-26 01:26] jakehader commented on #535
Thanks for the feedback @john-science. I definitely think that this warren's further discussion between you, me, and @ntouran. Let's take it offline and report back here with a proposed solution or maybe alternate way to frame the problem I am looking to solve.

[2022-01-26 01:28] john-science commented on #537
It appears that Chris _did_ find the public source, which he documents briefly in PR #548

[2022-01-26 16:39] keckler commented on #529
Hmm, the input validation is a good point that I didn't think about at all.

There are definitely _some_ things that we could check against to provide confidence, but you're right that providing certifiable checks against arbitrarily complex combinations of holes would be not feasible within this context.

ARMI already punts when it comes upon essentially this same problem during block constructio

[2022-01-26 17:29] drewj-usnctech commented on #518
Absolutely correct. It's a file used by sphinx and should not be directly import by users.

The problem appears if I have a separate package that uses it's own `doc/conf.py` file that does not rely on the ARMI `doc/conf.py`.  Instead, a very minimal version might contain *only*
[code]

- Not attempting to build the armi docs, but the docs for an application that uses armi
- No reliance on `armi/do

[2022-01-26 18:18] john-science commented on #518
Hello again!

The design goal we have is to support logging in ARMI, and we use subclasses of the Python standard library `import logging` library.

Now that I understand your workflow, let me explain what is happening.  When you create your `conf.py` for Sphinx build, you are calling code that calls ARMI logging methods.  Which would be fine if you configured an ARMI app of some kind. But without

[2022-01-26 19:20] john-science commented on #474
As a matter of "good design", I would also like to point out this code:

https://github.com/terrapower/armi/blob/fd5d2dd31051206ce62696027f05a9304b499677/armi/reactor/blueprints/isotopicOptions.py#L514-L538

It seems a little inside-out that we have to make definitions here that relate to specific, external programs developed by other teams.

[2022-01-26 19:28] #537 closed

[2022-01-26 20:47] drewj-usnctech commented on #518
Thanks @john-science

I think it is still worth adding a statement to the docs and/or the [Lessons Learned wiki page](https://github.com/terrapower/armi/wiki/Lessons-Learned) documenting this workaround.

I sympathize with bugs in dependencies causing problems. Thankfully the ~hack~workaround isn't too difficult. Just needed to be found

[2022-01-26 21:09] keckler opened #550 "Missing picture in the `nuclideBases` description"
If you're looking at the [Sphinx documentation for the `nuclideBases` module](https://terrapower.github.io/armi/.apidocs/armi.nucDirectory.nuclideBases.html), you might notice that there is a link to a figure in the docstring:

![image](https://user-images.githubusercontent.com/21959600/151247244-5822e1e5-2fe5-4e8a-87f9-cb5400519e1e.png)

This link goes nowhere for me, I think because the figure d

[2022-01-27 16:19] john-science commented on #550
I can confirm this has been broken since the `0.2.0` release on Nov 19, 2021: https://terrapower.github.io/releases/armi/v0.2.0/.apidocs/armi.nucDirectory.nuclideBases.html

@ntouran How long has it been since these class diagrams displayed?

[2022-01-29 09:03] #518 closed

[2022-01-30 20:45] john-science opened #552 "Switch from coveralls.io to codecov.io"
# Reasoning

1. Recently, `coveralls.io` has broken a couple times and caused us build failures. On other projects, I have run `codecov.io` for years with no such problems.
2. `Coveralls.io` forces us to use a private GitHub security token. This is extra work we don't need to do with `codecov.io`. (Particularly since these tokens expire every 12 months, and we would need to keep people on top of t

[2022-01-31 16:29] ntouran commented on #552
I have no problem with that.

[2022-02-01 18:45] john-science commented on #438
Okay, after more trial and error, I can't find a great solution to this problem.

I tried to access the inner workings of our three YAML libraries, to fix the problem at it's source: `yamlize`, 'pyyaml`, and 'ruamel`. But the problem appears to be that changing the YAML mid-stream is the issue.

I thought I could fix this by forcing the output YAML file to be in alphabetic order:

[code]

or

[cod

[2022-02-02 16:12] keckler opened #554 "`plotFaceMap` arguments `minScale` and `maxScale` don't do anything"
In the plotting module, there is the [`plotFaceMap`](https://github.com/terrapower/armi/blob/master/armi/utils/plotting.py#L180) method. The method accepts two arguments that are supposed to allow a user to change the color scaling of the printed plots, `minScale` and `maxScale`.

I have found that using these arguments don't do anything, and the printed plots are always auto-scaled to the minimum

[2022-02-02 19:27] #554 closed

[2022-02-03 00:00] john-science commented on #550
Okay, it is my guess here that our docs used to have some automagical class diagrams, but only a couple relics of this remain.

Probably, these diagrams were just fragile and hard to maintain. (Such things always are.)

I am thinking that removing these defunct links and this dependency is the right solution:

https://github.com/terrapower/armi/blob/2ae923ee7a0f088b893bd5aa4592ac3f9c2803de/doc/con

[2022-02-03 17:03] john-science commented on #550
Okay, @keckler , there is a PR open for this:  https://github.com/terrapower/armi/pull/556

[2022-02-03 17:47] #550 closed

[2022-02-08 00:40] john-science opened #563 "Zones Improvements"
Zones has the potential to be a pretty powerful feature in ARMI, but has a handful of issues that make it impossible or unpleasant to use for certain cases. Below are a list of concerns/grievances that should drive the overhaul"

* [ ] Can we replace `Zone` with a `SpatialLocator`?
* [ ] Because our "Zones" are so tightly coupled to SASSYS/rxcoeffs, they are probably not useful to people outside T

[2022-02-08 00:43] john-science opened #564 "Can we integrate Sphinx Needs into ARMI?"
It would be GREAT to:

1. Make a good set of requirements for ARMI.
2. Use Sphinx Needs to auto-validate them using unit tests.
3. Add the requirements and their proof to our docs.

This Issue won't focus on (1) or (3) above, but more just (2); testing the tooling and putting it in place with some connection to the docs.

References:

* [Sphinx Needs](https://sphinxcontrib-needs.readthedocs.io/en/

[2022-02-08 01:22] jakehader commented on #563
Hi @john-science,

I agree with this but internally we need to figure out where these functionalities should live if not on the zones objects in the framework. I've also mentioned this before, but should zones be a set of assembly locations or can they be a mix of any composite?

I'd also like to have a location in the database where zones can live and operator from. Maybe this is a separate table

[2022-02-08 02:07] jakehader commented on #535
@john-science, would you be able to schedule some time to talk about this with me? I am looking for something to help our benchmark modeling where not just density is important, but when we also need to consider temperature effects on material properties, but using a custom material definition for number densities.

[2022-02-08 02:07] jakehader commented on #520
Is this closed now or still more work to do?

[2022-02-08 02:10] jakehader commented on #433
This would be great to fix in the nearer-term as this can lead to user input bugs.

[2022-02-08 02:11] jakehader commented on #402
This appears to have some dependency on another open ticket @keckler. Is this ticket now closed for favor of keeping the other one open or are there some more subtasks to do?

[2022-02-08 02:12] keckler commented on #520
Closed! Thanks for the reminder!

[2022-02-08 02:13] jakehader commented on #399
I assume that this probably won't be changed at this time. If @john-science agrees then it might be good to close this issue and possibly open up a discussion topic that can cover different input quirks or possible upgrades.

[2022-02-08 02:16] jakehader commented on #375
I would like this feature @john-science if it could be prioritized for the database.

[2022-02-08 15:51] keckler commented on #550
Looks good!
![image](https://user-images.githubusercontent.com/21959600/153024126-29c960b0-5e47-4ece-ba12-31118410b16a.png)

[2022-02-08 16:10] ntouran commented on #564
Yeah I really like sphinx needs for this purpose and fully support using it to document requirements and their linkages to implementation docs and tests.

[2022-02-08 17:30] keckler opened #566 "Issues with `_swapFluxParam`"
When creating a fuel shuffling script, a user will typically use methods like `dischargeSwap`, `swapAssemblies`, and `swapCascade`, all of which make a call to [`_swapFluxParam`](https://github.com/terrapower/armi/blob/b94744fdf12f247828dd07bf99e251651b494a13/armi/physics/fuelCycle/fuelHandlers.py#L1418). Ostensibly the purpose of `_swapFluxParam` is to give blocks introduced into the core the inf

[2022-02-08 18:46] keckler commented on #535
@john-science I assume you closed this by accident?

[2022-02-08 18:48] john-science commented on #535
@keckler Hmm... I didn't close this. Yet. I just referenced it in a PR and GitHub decided they must be connected and closed this ticket.

But @ntouran and I aren't hugely interested in this PR. We already have three ways to define materials for ARMI, and I'm not sure this one adds a lot of value.

[2022-02-08 21:43] john-science commented on #402
@jakehader I know I turned on some YAML validation in this PR:  https://github.com/terrapower/armi/pull/495

But @keckler , did that solve the problem in this issue?  I suppose I never checked back to find out.

[2022-02-08 23:08] jakehader commented on #566
I don't have any immediate insights but this sounds like a major bug that should be addressed. It sounds like there have been a lot of assumptions baked into the converters and other plugins / physics that may rely on this which is also not great

[2022-02-08 23:34] keckler commented on #566
I think there are a few different issues here that could potentially be split out.

For instance, I am being blocked right now by Point (1). It would be very easy for me to change the way that is done to eliminate the bug, even if its not the final solution that we want to move towards. Probably the easiest thing would just to split the assembly-integrated power between the incoming blocks in the

[2022-02-09 01:05] ntouran opened #569 "Allow users to provide user/case-specific user plugins as input"
There are situations where users may want to provide case-specific material properties, component shapes, etc. that are typically provided by plugins. Thus, it'd be nice if users could point to a plugin that resides in an input file using a new setting (e.g. `userPluginPath`).

Since it's related to the overall repeatability of the run, the new file should be hashed in the stdout and copied into t

[2022-02-09 01:05] ntouran commented on #535
The linked issue above will be how we actually solve this issue.

[2022-02-09 01:21] jakehader commented on #529
Without a clear action to complete this issue ee might want to close this and move to a discussion that focuses on the desired geometry complexity that the ARMI framework should allow and accept. I think that it's clear right now that the arbitrariness of "n" holes with independent sizes is not possible now.

I think that it's pretty easy to check if the area of the hexagon minus the holes is grea

[2022-02-09 01:21] #529 closed

[2022-02-09 03:24] ntouran commented on #535
Hmm, while implementing that it occurred to me that plugins don't really do too much in terms of registering materials that they bring in other than setting the material resolution order to know about them (as @john-science was trying to remind me earlier).

This leads me to the supported `path.to.module:MaterialClassName` syntax [supported by ARMI already](https://terrapower.github.io/armi/.apido

[2022-02-09 04:18] ntouran commented on #569
Hmm, well maybe. See [comment here](https://github.com/terrapower/armi/issues/535#issuecomment-1033305726)

[2022-02-09 14:39] jakehader commented on #569
I like the thoughts on the other ticket for the materials, but do we still want this for the other plugins too (fuel management/control rod logic)?

[2022-02-09 15:55] keckler commented on #402
Maybe we should remove the "good first issue" tag, LOL.

[2022-02-09 16:50] drewj-usnctech opened #570 "Allow buGroups to be defined in other units"
Yes you're right that it is %FIMA. This has pretty much been the standard use case at TerraPower, but given that there is a burnup parameter for MWdkg on the blocks (maybe composites too?) then this could be an easy enough extension. I think that there is some interplay with the cross section / lattice physics interface with which parameter is being compared to so maybe we could need to configure

[2022-02-09 17:46] john-science commented on #352
I have one quick thought on this.  It might be super obvious, but I just want to throw it out there.

In all the scientific models I've seen (Fermilab, climate change, MRIs, etc), the units INSIDE the model are formally set and never change.  This is make the math easier.  Different units can be used as INPUTS, but inside the model everything is kept simply.

So, users can provide whatever input d

[2022-02-09 18:44] john-science commented on #566
I'm looking at this now.

My guess is we need to linearly interpolate the power density in the blocks between the two assemblies. And then re-calculate the power in each block from the resulting density.

Hopefully, I can abuse/re-use the uniform-mesh-converter logic we have now.  But TBD.

[2022-02-10 03:05] john-science commented on #570
@jakehader Surely ARMI contains enough information about the reactor to convert between the two units?  I mean, we are supposed to have a full-and-complete model of the reactor.

[2022-02-10 03:42] john-science commented on #570
@jakehader  Sorry, let me be clear.  My idea above (about converting the units as earlier as possible) is not an ideological one.  It is not my "preference".

I suggested it because I believe it will save us time. In the short run, it will be faster to finish this ticket this way.

That was my suggestion for how to implement this task to make it as easy as possible.

If it turns out that my idea i

[2022-02-11 14:08] jakehader commented on #569
After talking it sounds like we just need a one line change in the Case to add the working directory of the case it `sys.path` and the custom materials will work. Maybe we can add an example case of this somewhere in the gallery too?

[2022-02-11 14:12] #498 closed

[2022-02-12 06:54] jakehader commented on #570
@drewj-usnctech, do you have the capability to calculate MWd/kg in your depletion code that is being used? If so, I think that on exit of that plugin/interface you can just populate the %FIMA. In that way you get your MWd/kg on the block to track and then there is a mapping back to %FIMA that can be used for XS generation and other types of things within the ARMIA framework.

For now I think the b

[2022-02-15 00:33] john-science opened #575 "Do we have too many YAML libraries?"
I noticed that in our dependencies we have three different YAML libraries:

* `PyYAML`
* `ruamel`
* `yamlize`

https://github.com/terrapower/armi/blob/db90bc8e27398f840c9e345f0b0e8dd5c7eb69c4/setup.py#L69-L74

Surely we could reduce the number of these, right?

I should note that `ruamel` is a dependency of `yamlize`, so that's where we get that.  In that case, it would seem that `PyYAML` is the o

[2022-02-15 15:51] keckler opened #576 "Extending burnup and cycle inputs"
Building off of the discussion in #561, a number of upgrades/extensions to the current cycle input are planned. This ticket will keep track of the various pieces.

## Purpose
Right now the structure of a burnup case is defined by a few case settings: `nCycles`, `power`, `powerFraction(s)`, `burnSteps`, `availabilityFactor(s)`, and `cycleLength(s)`. These settings allows one to define a case with m

[2022-02-15 23:05] john-science commented on #575
Yes, we can and should remove the `PyYAML` dependency from ARMI.  We are only using it in 3 places (in 2 files) to quickly load up a YAML file into a dictionary:

https://github.com/terrapower/armi/blob/8f52db65ef29d34a7432f339b6a69d05a282d330/armi/nucDirectory/nuclideBases.py#L310-L311

https://github.com/terrapower/armi/blob/8f52db65ef29d34a7432f339b6a69d05a282d330/armi/nucDirectory/nuclideBases

[2022-02-17 20:48] drewj-usnctech commented on #570
@john-science @jakehader thanks for the feedback and suggestions. We do use MWd/kg far more heavily in our depletion routines, letting %FIMA be more like a secondary result, typically at EOL.

I think it's not unreasonable for a depletion plugin to be expected to provide not just isotopics but a %FIMA calculation on a given block. Likely non-trivial but if that's the thing that makes more of ARMI

[2022-02-17 21:16] keckler opened #580 "Add validation to case settings where appropriate"
I have noticed a handful of case settings that have implied bounds on their ranges, but no check is ever done to confirm the user input a valid value. For instance, `burnSteps`, `nCycles`, and `power` should all be non-negative but nothing stops the user from entering negative numbers.

In all of these instances, the code crashes somewhere where it is not necessarily clear what caused the crash. A

[2022-02-17 22:08] john-science opened #581 "Move nuclideFlags from blueprint file to settings file"
The nuclideFlags are NOT geometrical, so it's awkward that they are in the blueprints files.

[2022-02-18 02:18] jasonbmeng opened #582 "r.core.growToFullCore() error when loading from database"
Discussed with @jakehader. When loading a reactor using a case settings file, mechanical team is able to grow to full core. When loading a reactor object from a database, a runtime error is thrown when growing to full core. It appears that with the latter method, the global assembly number is set incorrectly.

Works:

[code]

Throws `RuntimeError`:

[code]

[2022-02-18 05:35] jakehader commented on #582
To fix this the database3 update global assembly number function should be called on the database load function. This is automatically done on the database interface loadState but isn't called if you just want to load a reactor with .load